@import '_variables';
@import '../../../layouts/sub/sub-2/styles/helpers/_block_mixins'


fontHvThin80_62()
    fontHvThin()
    font-size 80px
    line-height 62px


fontHvLight14_auto()
    fontHvLight()
    font-size 14px
    line-height 1.2

fontHvLight18_auto()
    fontHvLight()
    font-size 18px
    line-height 1.2

fontHvLight36_44()
    fontHvLight()
    font-size 36px
    line-height 44px


fontHvRoman14_18()
    fontHvRoman()
    font-size 14px
    line-height 18px

fontHvRoman14_24()
    fontHvRoman()
    font-size 14px
    line-height 24px

fontHvRoman18_24()
    fontHvRoman()
    font-size 18px
    line-height 24px

fontHvRoman24_30()
    fontHvRoman()
    font-size 24px
    line-height 30px

fontHvRoman36_44()
    fontHvRoman()
    font-size 36px
    line-height 44px


fontHvMedium14_auto()
    fontHvMedium()
    font-size 14px
    line-height 1.2

fontHvMedium16_24()
    fontHvMedium()
    font-size 16px
    line-height 24px

fontHvMedium24_auto()
    fontHvMedium()
    font-size 24px
    line-height 1.2


fontHvBold18_30()
    fontHvBold()
    font-size 18px
    line-height 30px

fontHvBold24_40()
    fontHvBold()
    font-size 24px
    line-height 40px

fontHvBold30_auto()
    fontHvBold()
    font-size 30px
    line-height 1.2

fontHvBold36_43()
    fontHvBold()
    font-size 36px
    line-height 43px

fontHvBold40_auto()
    fontHvBold()
    font-size 40px
    line-height 1.2

fontHvBold44_auto()
    fontHvBold()
    font-size 44px
    line-height 1.2

fontHvBold55_auto()
    fontHvBold()
    font-size 55px
    line-height 1.2

fontHvBold60_auto()
    fontHvBold()
    font-size 60px
    line-height 1.2



fontRobotoBlack22_auto()
    fontRobotoBlack()
    font-size 22px
    line-height 1.2


fontRobotoBold18_auto()
    fontRobotoBold()
    font-size 18px
    line-height 1.2


fontRobotoRegular14_auto()
    fontRobotoRegular()
    font-size 14px
    line-height 1.2
