@import '../../../../layouts/sub/sub-2/styles/helpers/_variables'

default_padding = 135px
reduced_padding = 100px
low_padding = 80px
lower_padding = 40px
small_padding = 20px

padding-fix-primary = 90px
padding-fix-secondary = 120px

c_aside = #f8f8f8
c_aside-active = darken(c_aside, 10%)
c_aside-current = #1c1c1c
c_darken-2-font = #2a2a2a
c_darken-4-font = #292929
c_darken-3-font = #403e3f
c_darken-5-font = #2d2d2d

c_black-transparent-022 = rgba(0, 0, 0, 0.22)

c_border-dim = #d1d1d1
c_border-light = #dddddd
c_border-lighter = #e4e4e4

// special breakpoints
bp_header = 'max-width: 1456px'
bp_reduced-x-padding = 1404px
bp_lower-x-padding = 1345px
bp_header-fix = 1270px

bp_publications = 639px
bp_publications_lower = 500px
bp_publications_lowest = 380px
