@import '../../../../layouts/sub/sub-2/styles/helpers/_variables'

default_padding = 135px
lower_padding = 40px
small_padding = 20px

c_aside = #f8f8f8
c_aside-active = darken(c_aside, 10%)
c_aside-current = #1c1c1c
c_darken-2-font = #2a2a2a
c_darken-3-font = #292929
c_darken-3-font = #403e3f

c_black-transparent-022 = rgba(0, 0, 0, 0.22)

c_border-dim = #d1d1d1
c_border-light = #dddddd

// special breakpoints
bp_header = 'max-height: 1456px'
