script(src='../../distrs/jquery/jquery-2.2.4.min.js')
script(src='../../distrs/bootstrap/bootstrap.min.js')
script(src='../../distrs/maskedInput/jquery.maskedinput.min.js')
//- script(src='../../assets/js/legacy.min.js')
