@import './helpers/_variables'
@import './helpers/_mixins'
@import './helpers/_block_mixins'


// .is-scalable
//     font-size ($base_fz)px
//
//     @media (max-width 1265px)
//         font-size ($base_fz - 1)px
//
//     @media (max-width 1212px)
//         font-size ($base_fz - 2)px
//
//     @media (max-width 1042px)
//         font-size ($base_fz - 3)px
//
//     @media (max-width xs)
//         font-size ($base_fz - 2)px
//
//     @media (max-width xss)
//         font-size ($base_fz)px


.avia-content__header--primary
    padding-left default_padding
    padding-right default_padding
    background-color #451c0d
    background-image url(../images/bg-avia-top.jpg)

    // @media ({bp_header})
    //     background-size 100% auto

.avia-content__header--secondary
    padding-top 67px
    padding-bottom 65px
    background-color #934825
    background-image url(../images/bg-avia-paid-services.jpg)
    background-position center

    $scalable_props = {
        min-height: 249px
        padding-top: 67px
        padding-bottom: 65px
    }
    scalabilityMixin($scalable_props)


.presentation-content__title--main
    $header_title_main_fz_mod = 60 / $base_fz
    .avia-content__header--primary &
        fontHvBold60_auto()
        margin-top 0
        margin-bottom -5px
        scalabilityMixin({ margin-bottom: -5px }, 60, fontHvBold60_auto)

        @media (max-width md)
            font-size 45px
            scalabilityMixin({ font-size: 45px})
            scalabilityMixin({ margin-bottom: -5px }, 45)

    $header_title_main_fz_mod = 55 / $base_fz
    .avia-content__header--secondary &
        fontHvBold55_auto()
        margin-top 0
        margin-bottom -5px
        scalabilityMixin({ margin-bottom: -5px }, 55, fontHvBold55_auto)

        @media (max-width md)
            font-size 35px
            scalabilityMixin({ margin-bottom: -5px }, 35)

.presentation-content__title--secondary
    $header_title_secondary_fz_mod = 36 / $base_fz
    .avia-content__header--primary &
        fontHvRoman36_44()
        font-weight 600  // fix - need to add it to fontHvRoman36_44 if no more used
        margin-top 0
        margin-bottom 0

        $scalable_props = { font-weight: 600 }  // fix - need to add it to fontHvRoman36_44 if no more used
        scalabilityMixin($scalable_props, 55, fontHvRoman36_44)

        @media (max-width md)
            font-size 26px

    $header_title_secondary_fz_mod = 44 / $base_fz
    .avia-content__header--secondary &
        fontHvBold44_auto()
        margin-top 0
        margin-bottom 0
        scalabilityMixin(false, 10, fontHvBold44_auto)

        @media (max-width md)
            font-size 30px


.media-block__header
    .presentation-content__company-profile &
        background-image url(../images/bg-avia-profile.jpg)


.avia-content__aircompanies-news
    > .media-block__header
        min-height 168px
        padding-top 41px
        background-color #fff6d9
        background-repeat no-repeat
        background-image url(../images/bg-avia-news.jpg)
        background-size cover
        background-position 50% 100%

        $scalable_props = {
            min-height: 168px
            padding-top: 41px
        }
        scalabilityMixin($scalable_props)


.avia-content__news-categories/*.custom-banner--v1*/
    background-color #021e3b
    background-repeat no-repeat
    background-image url(../images/bg-avia-news-categories.jpg)
    background-size cover
    background-position center


.default-section__header
    .avia-content__aircompanies-questionnare &
        padding-left default_padding
        padding-right default_padding
        padding-bottom 39px
        scalabilityMixin({ padding-bottom: 39px })

        @media (max-width bp_medium-x-padding)
            padding-left reduced_padding_2
            padding-right reduced_padding_2

        @media (max-width bp_reduced-x-padding)
            padding-left low_padding
            padding-right low_padding

        @media (max-width bp_low-x-padding)
            padding-left small_padding
            padding-right small_padding

        @media (max-width lg)
            padding-left small_padding
            padding-right small_padding


.default-section__title
    .avia-content__aircompanies-questionnare &
        margin-bottom 2px
        scalabilityMixin({ margin-bottom: 2px })


.avia-content__publications-collection
    background-image url(../images/bg-avia-publications-collection-2.jpg)


.avia-content__aircompanies-questionnare /*section.default-section*/
    padding-top 58px
    padding-bottom 81px
    background-color c_white

    $scalable_props = {
        padding-top: 58px
        padding-bottom: 81px
    }
    scalabilityMixin($scalable_props)
    //
    // @media (max-width bp_medium-x-padding)
    //     padding-left reduced_padding_2
    //     padding-right reduced_padding_2
    //
    // @media (max-width bp_reduced-x-padding)
    //     padding-left low_padding
    //     padding-right low_padding
    //
    // @media (max-width bp_low-x-padding)
    //     padding-left small_padding
    //     padding-right small_padding
    //
    // // @media (max-width bp_lower-x-padding)
    // //     padding-left lower_padding
    // //     padding-right lower_padding
    //
    // // @media (max-width: xl)
    // //     padding-left lower_padding
    // //     padding-right lower_padding
    //
    // @media (max-width lg)
    //     padding-left small_padding
    //     padding-right small_padding


.avia-content__paid-services
    background-color c_white


.publications-feature--share
    background-color c_seo-2

    @media (max-width: md)
        padding-right 60px

    &::before
        left 627px
        top 152px
        width 710px
        height 210px
        background-image url(../images/bg-publications-share.png)

        @media (min-width: 1457px)
            left auto
            right 0

.publications-feature--mini-reviews
    align-items flex-end
    padding-top 63px
    background-color #ef1054

    @media (max-width: md)
        padding-right 60px

    &::before
        right 839px
        bottom -15px
        width 464px
        height 283px
        background-image url(../images/bg-publications-reviews.png)

        @media (max-width: 1106px)
            right auto
            left -314px

        @media (max-width: bp_publications_lower)
            right 100%
            left auto

.publications-feature--settings-control
    background-color #ffc498

    @media (max-width: md)
        padding-right 60px

    &::before
        left 658px
        top 94px
        width 682px
        height 291px
        background-image url(../images/bg-publications-settings.png)

        @media (min-width: 1457px)
            left auto
            right 0

.publications-feature--availability
    align-items flex-end
    background-color #002c3d

    @media (max-width: 811px)
        padding-right 60px

    &::before
        right 620px
        top 68px
        width 664px
        height 353px
        background-image url(../images/bg-publications-availability.png)

        @media (max-width: 811px)
            right auto
            left -589px

        @media (max-width: bp_publications_lower)
            right 100%
            left auto

.publications-feature--auto-posting
    background-color #daf4f8

    @media (max-width: md)
        padding-right 60px

    &::before
        left 641px
        top 62px
        width 603px
        height 298px
        background-image url(../images/bg-publications-auto-posting.png)

.publications-feature--distribution
    align-items flex-end
    background-color #00bc9b

    @media (max-width: 906px)
        padding-right 60px

    &::before
        right 758px
        top 56px
        width 401px
        height 365px
        background-image url(../images/bg-publications-distribution.png)

        @media (max-width: 906px)
            right auto
            left -371px

        @media (max-width: bp_publications_lower)
            right 100%
            left auto


.publications-feature__header
    .publications-feature--share &
        color c_white

    .publications-feature--mini-reviews &
        padding-right 394px
        color c_white

        @media (max-width: 1381px)
            align-self flex-start
            padding-right 0

    .publications-feature--settings-control &
        color #5c4e40

    .publications-feature--availability &
        padding-right 89px
        color #db3d71

        @media (max-width: 811px)
            align-self flex-start
            padding-right 0

    .publications-feature--auto-posting &
        color #0e303f

    .publications-feature--distribution &
        max-width 570px
        color #385c44

        @media (max-width: 906px)
            align-self flex-start

    .publications-feature--share &::before
        background-color #199090

    .publications-feature--share &::after
        background-color #40bebe

    .publications-feature--mini-reviews &::before
        background-color #ab0c3d

    .publications-feature--mini-reviews &::after
        background-color #de0e4e

    .publications-feature--settings-control &::before
        background-color #614d3d

    .publications-feature--settings-control &::after
        background-color #d9a782

    .publications-feature--availability &::before
        background-color #ef1054

    .publications-feature--availability &::after
        background-color #422643

    .publications-feature--auto-posting &::before
        background-color #0096a6

    .publications-feature--auto-posting &::after
        background-color #94e4eb

    .publications-feature--distribution &::before
        background-color #155c41

    .publications-feature--distribution &::after
        background-color #00a585


.publications-feature__title
    .publications-feature--mini-reviews &
        min-width 552px

    .publications-feature--availability &
        max-width calc(468px - 89px)


.publications-feature__content
    .publications-feature--share &
        max-width 548px
        color #273f3f

    .publications-feature--mini-reviews &
        z-index 20
        max-width 763px
        padding-right 137px
        color c_white

        @media (max-width: 1106px)
            align-self flex-start
            padding-right 0
            max-width 626px

    .publications-feature--settings-control &
        max-width 490px
        padding-left 0
        color #0e303f

    .publications-feature--availability &
        max-width 468px
        color #688490

        @media (max-width: 811px)
            align-self flex-start

    .publications-feature--auto-posting &
        max-width 559px
        color #0e303f

    .publications-feature--distribution &
        max-width 566px
        padding-right 114px
        color #273b2e

        @media (max-width: 906px)
            align-self flex-start
            padding-right 0
