@import './helpers/_variables'
@import './helpers/_block_mixins'
@import './helpers/_mixins'


$bp-upper_scale-fz-9 = 1265px  // 9px
$bp-upper_scale-fz-8 = 1212px  // 8px
$bp-upper_scale-fz-7 = 1042px  // 7px
$bp-upper_scale-fz-xs = xs  // 8px
$bp-upper_scale-fz-reset = xss  // 10px


.is-scalable
    font-size ($base_fz)px

    @media (max-width $bp-upper_scale-fz-9)
        font-size ($base_fz - 1)px

    @media (max-width $bp-upper_scale-fz-8)
        font-size ($base_fz - 2)px

    @media (max-width $bp-upper_scale-fz-7)
        font-size ($base_fz - 3)px

    @media (max-width xs)
        font-size ($base_fz - 2)px

    @media (max-width $bp-upper_scale-fz-reset)
        font-size ($base_fz)px


/**----------------------*\
 * Components overriding
\*-----------------------*/

// Решил сделать более точечно, для отдельных блоков
// .btn--v7
//     //fontHvLight18_30()
//     $scalable_props = {
//         padding-top: 10px
//         padding-right: 32px
//         padding-bottom: 9px
//         padding-left: 32px
//         min-width: 186px
//     }
//     scalabilityMixin($scalable_props, 18, fontHvLight18_30, 14)



/**--------------------------------*\
 * .presentation-page__content
\*--------------------------------*/

/*main*/.presentation-content/*.presentation-page__content*/
    // position absolute
    // top 0
    // bottom 0
    position relative
    margin-right 300px
    // padding-left 100px
    background-color c_white
    width 100%

    @media (max-width: xl) and (min-width: xs)
        margin-right 250px

    @media (max-width: lg)
        flex-direction column

    @media (max-width: xs)
        order 2
        margin-right 0


.presentation-content__header
    text-align center

    @media (max-width xss)
        font-size 8px

    .additional-text
        fontHvLight36_44()
        color c_white
        text-transform uppercase
        scalabilityMixin(false, 10, fontHvLight36_44)

        @media (max-width md)
            font-size 26px
            scalabilityMixin({font-size: 26px})

.presentation-content__header--primary
    box-sizing border-box
    min-height 509px
    padding-top 116px
    padding-bottom 46px
    padding-left default_padding
    padding-right default_padding
    background-color #cccccc
    background-repeat no-repeat
    background-position center
    background-size cover

    $scalable_props = {
        min-height: 509px
        padding-top: 116px
        padding-bottom: 46px
        padding-left: default_padding
        padding-right: default_padding
    }
    scalabilityMixin($scalable_props)

    @media (max-width bp_reduced-x-padding)
        padding-left low_padding
        padding-right low_padding

        $scalable_props = {
            padding-left: low_padding
            padding-right: low_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width lg)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props)

.presentation-content__header--secondary
    min-height 249px
    padding-left default_padding
    padding-right default_padding
    padding-top 80px
    padding-bottom 60px
    background-color #cccccc
    background-repeat no-repeat
    background-size cover

    @media (max-width bp_reduced-x-padding)
        padding-left low_padding
        padding-right low_padding

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding


.presentation-content__title
    text-transform uppercase

.presentation-content__title--main
    color c_contrast

.presentation-content__title--secondary
    color c_white


.video-block
    margin-bottom 28px
    scalabilityMixin({margin-bottom: 28px})

$play_button_fz_mod = 14 / $base_fz

.video-block__play-button
    fontHvLight14_auto()
    box-sizing border-box
    display inline-block
    min-width 130px
    min-height 159px
    padding-top 146px
    color c_white
    background-repeat no-repeat
    background-image url(../images/i-play-video.png)
    background-position center top
    transition opacity .3s linear

    $scalable_props = {
        min-width: 130px
        min-height: 159px
        padding-top: 146px
        background-size: contain
    }
    scalabilityMixin($scalable_props, 14, fontHvLight14_auto)

    @media (max-width 1212px)
        scalabilityMixin({font-size: 8px}, 0)

    &:hover
        cursor pointer
        opacity 0.5


.presentation-content__mission
    fontHvLight18_30()
    padding-top 75px
    padding-right default_padding
    padding-bottom 113px
    padding-left default_padding
    color c_darkest-font
    background-color c_white
    text-align justify

    $scalable_props = {
        padding-top: 75px
        padding-bottom: 113px
    }
    scalabilityMixin($scalable_props, 18, fontHvLight18_30)

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

        $scalable_props = {
            padding-left: reduced_padding
            padding-right: reduced_padding
        }
        scalabilityMixin($scalable_props, 18, fontHvLight18_30)

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props, 18, fontHvLight18_30)

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props, 18, fontHvLight18_30)


mark.primary
    fontHvBold18_30()
    color c_contrast
    background-color inherit
    scalabilityMixin({ font-size: 1em }, 10, fontHvBold18_30, 18)

.additional-text
    fontHvMedium18_30()
    display block
    color c_darkest-font
    margin-bottom 7px
    scalabilityMixin({ margin-bottom: 7px }, 18, fontHvMedium18_30)

    .default-section__header--diamond--primary &
    .default-section__header--diamond--secondary &
        position relative

// .media-block__title
// .default-section__title
//     fontHvBold40_auto()
//     color c_contrast

.media-block
    .presentation-content__company-profile &
        padding-bottom 30px
        scalabilityMixin({ padding-bottom: 30px })

.media-block__title
    fontHvBold40_auto()
    color c_contrast
    margin-top 0
    margin-bottom 0
    scalabilityMixin(false, 10, fontHvBold40_auto)

.media-block__header
    text-align center

    .presentation-content__search-and-promo-tools &
        min-height 320px
        background-color #e1baac
        background-repeat no-repeat
        background-image url(../images/bg-presentation-instruments.jpg)
        background-size cover
        background-position center
        scalabilityMixin({ min-height: 320px })

    .presentation-content__company-profile &
        min-height 157px
        background-color #8e90a3
        background-repeat no-repeat
        // background-image url(../images/bg-avia-profile.jpg)
        background-size cover
        background-position center
        scalabilityMixin({ min-height: 157px })

.media-block__header--cover
    position relative
    box-shadow 0 3px 5px c_black-transparent-04

.media-block__content
    fontHvLight18_auto()
    padding-top 34px
    padding-bottom 42px
    padding-left default_padding
    padding-right default_padding
    color c_white
    background-color c_contrast

    $scalable_props = {
        padding-top: 34px
        padding-bottom: 42px
        padding-left: default_padding
        padding-right: default_padding
    }
    scalabilityMixin($scalable_props, 18, fontHvLight18_auto)

    > p
        margin-bottom 20px
        scalabilityMixin({ margin-bottom: 20px }, 18)

        &:last-of-type
            margin-bottom 0
            scalabilityMixin({ margin-bottom: 0 })

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

        $scalable_props = {
            padding-left: reduced_padding
            padding-right: reduced_padding
        }
        scalabilityMixin($scalable_props, 18)

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props, 18)

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props, 18)

.media-block__content--with-wallpaper
    fontHvLight18_24()
    background-repeat no-repeat
    background-position center
    background-size cover
    scalabilityMixin(false, 18, fontHvLight18_24)

    .presentation-page__tripservice-club-media-block &
        background-color #002839
        background-image url(../images/bg-tripservice-media-block-content.jpg)

.media-block__content--loose
    fontHvLight18_30()
    padding-top 40px
    padding-bottom 40px

    $scalable_props = {
        padding-top: 40px
        padding-bottom: 40px
    }
    scalabilityMixin($scalable_props, 18, fontHvLight18_30)

    > p
        margin-bottom 31px
        scalabilityMixin({ margin-bottom: 31px }, 18)

.media-block__footer
    padding-top 34px
    padding-bottom 62px
    padding-left default_padding
    padding-right default_padding

    $scalable_props = {
        padding-left: default_padding
        padding-right: default_padding
    }
    scalabilityMixin($scalable_props)

    @media (max-width xss)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props)

    .presentation-page__tripservice-club-media-block &
        background-color c_contrast
        background-repeat repeat
        background-image url(../images/bg-tripservice-media-block-footer-pattern.jpg)
        color c_white

.media-block__primary-info
    fontHvBold30()
    display block
    margin-bottom 9px
    scalabilityMixin({ margin-bottom: 9px }, 30, fontHvBold30)

.media-block__secondary-info
    fontRobotoRegular22_24()
    margin-bottom 32px
    scalabilityMixin({ margin-bottom: 32px }, 22, fontRobotoRegular22_24)


.features-list
    padding 0
    margin 0
    list-style-type none
    // font-size 0

    display flex
    flex-wrap wrap
    justify-content center
    align-items flex-start

    .avia-content__paid-services &
        padding-left default_padding
        padding-right default_padding
        padding-top 55px
        padding-bottom 38px

        $scalable_props = {
            padding-left: default_padding
            padding-right: default_padding
            padding-top: 55px
            padding-bottom: 38px
        }
        scalabilityMixin($scalable_props)

        @media (max-width bp_reduced-x-padding)
            padding-left reduced_padding
            padding-right reduced_padding

            $scalable_props = {
                padding-left: reduced_padding
                padding-right: reduced_padding
            }
            scalabilityMixin($scalable_props)

        @media (max-width bp_lower-x-padding)
            padding-left lower_padding
            padding-right lower_padding

            $scalable_props = {
                padding-left: lower_padding
                padding-right: lower_padding
            }
            scalabilityMixin($scalable_props)

        @media (max-width: lg)
            padding-left small_padding
            padding-right small_padding

            $scalable_props = {
                padding-left: small_padding
                padding-right: small_padding
            }
            scalabilityMixin($scalable_props)

    .tourism-boards-content__paid-services &
        padding-left default_padding
        padding-right default_padding
        padding-top 55px
        padding-bottom 38px

        $scalable_props = {
            padding-left: default_padding
            padding-right: default_padding
            padding-top: 55px
            padding-bottom: 38px
        }
        scalabilityMixin($scalable_props)

        @media (max-width bp_reduced-x-padding)
            padding-left reduced_padding
            padding-right reduced_padding

            $scalable_props = {
                padding-left: reduced_padding
                padding-right: reduced_padding
            }
            scalabilityMixin($scalable_props)

        @media (max-width bp_lower-x-padding)
            padding-left lower_padding
            padding-right lower_padding

            $scalable_props = {
                padding-left: lower_padding
                padding-right: lower_padding
            }
            scalabilityMixin($scalable_props)

        @media (max-width: lg)
            padding-left small_padding
            padding-right small_padding

            $scalable_props = {
                padding-left: small_padding
                padding-right: small_padding
            }
            scalabilityMixin($scalable_props)

        /**----------------------*\
         * Components overriding
        \*-----------------------*/
        .btn--v7
            min-width 160px
            max-width 160px
            text-align center
            padding-left 5px
            padding-right 5px

            $scalable_props = {
                padding-top: 10px
                padding-right: 5px
                padding-bottom: 9px
                padding-left: 5px
                min-width: 160px
                max-width: 160px
            }
            scalabilityMixin($scalable_props, 18, fontHvLight18_30, 14)

.features-list--bordered
    margin-left -13px
    margin-right -13px

    $scalable_props = {
        margin-left: -13px
        margin-right: -13px
    }
    scalabilityMixin($scalable_props)

.features-list--chaotic::before
.features-list--chaotic::after
    display table
    content ''

.features-list--chaotic::after
    clear both

.features-list--accurate
    // padding-top 70px  // using margin-bottom of previous cibling element or padding-top of parent element
    margin-left -18px
    margin-right -18px
    // margin-bottom -70px  // if negative margin on the end of page - layout brokens

    $scalable_props = {
        margin-left: -18px
        margin-right: -18px
    }
    scalabilityMixin($scalable_props)

.features-list--loose
    margin-left -18px
    margin-right -18px

    $scalable_props = {
        margin-left: -18px
        margin-right: -18px
    }
    scalabilityMixin($scalable_props)

/*ol*/.features-list--diamond
    counter-reset li

/*ol*/.features-list--complex-icons
    counter-reset li

.features-list--space-around
    justify-content space-around

.features-list--align-stretch
    align-items stretch


$feature_item_fz_mod = 14 / $base_fz

.features-list__item
    fontHvMedium14_auto()  // здесь меняется размер шрифта
    position relative
    box-sizing border-box
    display inline-block
    vertical-align top
    width 33.3333%
    margin-bottom 40px

    flex-basis 239px

    $scalable_props = {
        flex-basis: 239px
        margin-bottom: 40px
    }
    scalabilityMixin($scalable_props, 14, fontHvMedium14_auto)

    &::before
        position absolute
        top 0
        left 0
        right 0
        margin-left auto
        margin-right auto
        width 100%
        height 116px
        background-repeat no-repeat
        background-position center top
        content ''

        $scalable_props = {height: 116px}
        scalabilityMixin($scalable_props, 14)

    .features-list--rounded-icons > &::before
        width 108px
        height 108px
        border 1px solid c_seo-2
        border-radius 50%
        background-position center

        $scalable_props = {
            width: 108px
            height: 108px
        }
        scalabilityMixin($scalable_props, 14)

    .features-list--inverted-color > &
        margin-bottom 0
        color c_contrast-light

    .features-list--bordered > &
        width calc(33.3333% - 17.3333px)
        flex-basis 239px
        max-width 239px  // ie11 fix
        margin-left 13px
        margin-right 13px
        margin-top 172px
        margin-bottom 0

        $scalable_props = {
            width: {
                name: 'calc'
                args: {
                    a1: 33.3333%
                    a2: '-'
                    a3: 17.3333px
                }
            }
            flex-basis: 239px
            max-width: 239px
            margin-left: 13px
            margin-right: 13px
            margin-top: 172px
        }
        scalabilityMixin($scalable_props, 14)

    .features-list--with-images > &
        margin-top 48px
        margin-bottom 27px

        $scalable_props = {
            margin-top: 48px
            margin-bottom: 27px
        }
        scalabilityMixin($scalable_props, 14)

    .features-list--accurate > &
        width calc(33.3333% - 24px)
        flex-basis 229px
        max-width 229px  // ie11 fix
        margin-left 18px
        margin-right 18px
        margin-bottom 70px
        text-align center

        $scalable_props = {
            width: {
                name: 'calc'
                args: {
                    a1: 33.3333%
                    a2: '-'
                    a3: 24px
                }
            }
            flex-basis: 229px
            max-width: 229px
            margin-left: 18px
            margin-right: 18px
            margin-bottom: 70px
        }
        scalabilityMixin($scalable_props, 14)

    .features-list--loose > &
        width calc(50% - 36px)
        flex-basis 369px
        max-width 369px  // ie11 fix
        margin-left 18px
        margin-right 18px
        margin-bottom 70px
        text-align center

        $scalable_props = {
            width: {
                name: 'calc'
                args: {
                    a1: 50%
                    a2: '-'
                    a3: 36px
                }
            }
            flex-basis: 369px
            max-width: 369px
            margin-left: 18px
            margin-right: 18px
            margin-bottom: 70px
        }
        scalabilityMixin($scalable_props, 14)

    .features-list--diamond > &
        padding-top 97px
        list-style none
        $scalable_props = {padding-top: 97px}
        scalabilityMixin($scalable_props, 14)

    // у псевдоэлемента коэффициент для рассчёта EM изменяется, поскольку меняется базовый размер шрифта
    $feature_item_diamond_pseudo_fz_mod = 30 / $base_fz

    .features-list--diamond > &::before
        fontHvLight30_auto()
        height 80px
        color c_white
        counter-increment li
        content '0' counter(li)
        scalabilityMixin({height: 80px}, 30, fontHvLight30_auto, 14)

        +ie10-11-only()  // ie 10-11 only styles, hack / адовые костыли для IE 11
            scalabilityMixin({font-size: 0.46em})  // IE11 fix

            @media (max-width $bp-upper_scale-fz-9)
                scalabilityMixin({font-size: 0.9em})

            @media (max-width $bp-upper_scale-fz-8)
                scalabilityMixin({font-size: 0.9em})

            @media (max-width $bp-upper_scale-fz-7)
                scalabilityMixin({font-size: 0.9em})

.feature-item
    padding-top 128px

    $scalable_props = {padding-top: 128px}
    scalabilityMixin($scalable_props, 14)

.feature-item--big-icon
    padding-top 136px

    $scalable_props = {padding-top: 136px}
    scalabilityMixin($scalable_props, 14)

    &::before
        $scalable_props = {background-size: contain}
        scalabilityMixin($scalable_props)

.feature-item--bordered
    min-height 206px
    padding-top 30px
    padding-bottom 10px
    border 1px solid c_border-light

    $scalable_props = {
        min-height: 206px
        padding-top: 30px
        padding-bottom: 10px
    }
    scalabilityMixin($scalable_props, 14)

    &::before
    &::after
        position absolute
        content ''

    &::before
        top -126px
        left 0
        right 0
        margin 0 auto
        width 177px
        height 110px
        background-repeat no-repeat
        background-position center

        $scalable_props = {
            top: -126px
            width: 177px
            height: 110px
            background-size: contain
        }
        scalabilityMixin($scalable_props, 14)

    &::after
        top -1px
        left 0
        right 0
        margin-left auto
        margin-right auto
        width 55%
        height 1px
        background-color #fff

        $scalable_props = {
            top: -1px
            height: 1px
        }
        scalabilityMixin($scalable_props, 14)

.feature-item--bordered--wide
    padding-left 23px
    padding-right 23px

    $scalable_props = {
        padding-left: 23px
        padding-right: 23px
    }
    scalabilityMixin($scalable_props, 14)

    &::after
        width 55%

.feature-item--bordered--thin
    padding-left 30px
    padding-right 30px
    padding-bottom 23px

    $scalable_props = {
        padding-left: 30px
        padding-right: 30px
        padding-bottom: 23px
    }
    scalabilityMixin($scalable_props, 14)

    &::after
        width 47%

.feature-item--with-image
    padding-top 58px

    $scalable_props = { padding-top: 58px }
    scalabilityMixin($scalable_props, 14)

    &::before
        content none

.feature-item--thin-padding
    padding-left 20px
    padding-right 20px

    $scalable_props = {
        padding-left: 20px
        padding-right: 20px
    }
    scalabilityMixin($scalable_props, 14)

.feature-item--accurate
    &::before
        height 85px
        background-size contain

        $scalable_props = { height: 85px }
        scalabilityMixin($scalable_props, 14)

.feature-item--loose
    //

.feature-item--complex-icon
    padding-top 185px
    scalabilityMixin({ padding-top: 185px }, 14)

    +ie10-11-only()  // ie 10-11 only styles, hack / адовые костыли для IE 11
        @media (max-width $bp-upper_scale-fz-reset)
            scalabilityMixin({ padding-top: 10em })

    &::before
        fontHvLight24()
        height 161px
        padding-top 20px
        color c_white
        background-size contain
        background-image url(../images/i-diamond-composed-red.svg)
        counter-increment li
        content '0' counter(li)

        $scalable_props = {
            padding-top: 20px
            height: 161px
        }
        scalabilityMixin($scalable_props, 24, fontHvLight24, 14)

        +ie10-11-only()  // ie 10-11 only styles, hack / адовые костыли для IE 11
            scalabilityMixin({font-size: 0.5848em})

            @media (max-width $bp-upper_scale-fz-8)
                scalabilityMixin({font-size: 0.8em})

    &::after
        position absolute
        top 72px
        left 0
        right 0
        width 60px
        height 53px
        margin-left auto
        margin-right auto
        background-repeat no-repeat
        background-position top center
        content ''

        $scalable_props = {
            top: 72px
            width: 60px
            height: 53px
            background-size: contain
        }
        scalabilityMixin($scalable_props, 14)

        +ie10-11-only()  // ie 10-11 only styles, hack / адовые костыли для IE 11
            @media (max-width $bp-upper_scale-fz-9) and (min-width $bp-upper_scale-fz-xs)
                scalabilityMixin({ top: 5.8em })

            @media (max-width $bp-upper_scale-fz-8) and (min-width $bp-upper_scale-fz-7)
                scalabilityMixin({ top: 4.8em })

            @media  (max-width $bp-upper_scale-fz-xs)
                scalabilityMixin({ top: 4.8em })

            @media  (max-width $bp-upper_scale-fz-reset)
                $scalable_props = {
                    top: 4em
                    height: 2.78em
                }
                scalabilityMixin($scalable_props)

// у псевдоэлемента коэффициент для рассчёта EM изменяется, поскольку меняется базовый размер шрифта
$feature_item_diamond_pseudo_fz_mod = 30 / $base_fz

[class*='feature-item--diamond--']::before
    background-repeat no-repeat
    background-size contain
    padding-top 25px

    $scalable_props = { padding-top: 25px }
    scalabilityMixin($scalable_props, 30)

.feature-item--diamond--primary
    .features-list--diamond > &::before
        background-image url(../images/bg-diamond-primary.svg)

.feature-item--diamond--secondary
    .features-list--diamond > &::before
        background-image url(../images/bg-diamond-secondary.svg)

.feature-item--flex
    display flex
    flex-direction column
    justify-content flex-start
    align-items center

    @media (max-width $bp-upper_scale-fz-7)
        &::before
            scalabilityMixin({ background-size: contain})


.feature-item__help-text
    fontHvMedium18_30()
    color c_darkest-font

    scalabilityMixin(false, 14, fontHvMedium18_30, 14)

    .feature-item--inverted-color &
        fontHvBold18_30()
        color c_white

        scalabilityMixin(false, 14, fontHvBold18_30, 14)

.feature-item__help-text--additional-offset
    margin-bottom 8px
    scalabilityMixin({ margin-bottom: 8px }, 18)

.feature-item__title
    fontRobotoBlack22_auto()
    display block
    margin-top 0
    color c_darkest-font

    scalabilityMixin(false, 14, fontRobotoBlack22_auto, 14)

    .feature-item--inverted-color &
        fontHvBold24_40()
        color c_white
        text-transform uppercase

        scalabilityMixin(false, 14, fontHvBold24_40, 14)

    .feature-item--with-image &
        fontRobotoBold18_auto()
        color c_darken-3-font

        scalabilityMixin(false, 14, fontRobotoBold18_auto, 14)

    .feature-item--accurate &
        fontHvRoman18_30()
        color c_darkest-font

        scalabilityMixin(false, 14, fontHvRoman18_30, 14)

    .feature-item--loose &
        fontHvBold30()
        color c_darken-4-font

        scalabilityMixin(false, 14, fontHvBold30, 14)

    .feature-item--flex &
        width 100%  // IE11 fix

.feature-item__title--bright
    fontHvBold24_40()
    color c_contrast
    text-transform uppercase

    scalabilityMixin(false, 14, fontHvBold24_40, 14)

.feature-item__title--condensed
    line-height 1.2
    scalabilityMixin({ line-height: 1.2 }, 14)

.feature-item__sub-title
    display block
    margin-bottom 23px

    $scalable_props = { margin-bottom: 23px }
    scalabilityMixin($scalable_props, 14)

    .feature-item--with-image &
        fontRobotoRegular14_auto()
        color c_darken-3-font

        scalabilityMixin(false, 14, fontRobotoRegular14_auto, 14)

    .feature-item--flex &
        width 100%  // IE11 fix

.feature-item__content
    fontHvMedium14_auto()
    padding-left 10px
    padding-right 10px
    color c_darkest-font

    $scalable_props = {
        padding-left: 10px
        padding-right: 10px
    }
    scalabilityMixin($scalable_props, 14, fontHvMedium14_auto, 14)

    .feature-item--inverted-color &
        fontHvRoman14_18()
        color c_contrast-light

        scalabilityMixin(false, 14, fontHvRoman14_18, 14)

    .feature-item--with-image &
        fontRobotoRegular14_auto()
        color c_darken-3-font

        scalabilityMixin(false, 14, fontRobotoRegular14_auto, 14)

    .feature-item--bordered &
        padding-left 0
        padding-right 0
        margin-bottom 0

    .feature-item--accurate &
        fontHvRoman14_24()
        padding-left 0
        padding-right 0
        color c_darken-6-font

        scalabilityMixin(false, 14, fontHvRoman14_24, 14)

    .feature-item--loose &
        fontHvLight18_auto()
        color c_darken-4-font

        scalabilityMixin(false, 14, fontHvLight18_auto, 14)

    .feature-item--complex-icon &
        fontHvRoman16_24()
        color c_darken-4-font
        scalabilityMixin(false, 14, fontHvRoman16_24, 14)

    .feature-item--flex &
        width 100%  // IE11 fix

.feature-item__content--lighten
    fontHvRoman14_24()
    color c_darken-bg
    margin-bottom 35px

    $scalable_props = { margin-bottom: 35px }
    scalabilityMixin($scalable_props, 14, fontHvRoman14_24, 14)

.feature-item__picture-wrapper
    position absolute
    z-index 10
    top -49px
    left 0
    right 0
    margin-left auto
    margin-right auto
    // display flex
    // justify-content center
    // align-items center
    width 96px
    height 96px

    $scalable_props = {
        top: -49px
        width: 96px
        height: 96px
    }
    scalabilityMixin($scalable_props, 14)

.feature-item__picture
    position absolute
    left -9999px
    right -9999px
    top -9999px
    bottom -9999px
    margin auto

.feature-item__content-link
    margin-top 20px
    display block
    scalabilityMixin({ margin-top: 20px }, 14)

.feature-item__content-image
    display block
    max-width 100%
    margin-left auto
    margin-right auto
    height auto


.box--rounded
    border-width 1px
    border-style solid
    border-radius 50%
    overflow hidden

.box--bordered--light
    border-color c_white

.box--bordered--dark
    border-color c_border-dim


.presentation-content__news-features/*ul.features-list*/
    padding-top 45px
    padding-right default_padding
    padding-bottom 0
    padding-left default_padding
    background-color c_white

    $scalable_props = {
        padding-top: 45px
        padding-right: default_padding
        padding-left: default_padding
    }
    scalabilityMixin($scalable_props)

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

        $scalable_props = {
            padding-left: reduced_padding
            padding-right: reduced_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width lg)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props)

.feature-item--instant-publication::before
    background-image url(../images/i-recycle.png)

.feature-item--no-spam::before
    background-image url(../images/i-basket.png)

.feature-item--news-channels::before
    background-image url(../images/i-loupe.png)

.feature-item--audience-coverage::before
    background-image url(../images/i-thumbs-up.png)

.feature-item--carry-news::before
    background-image url(../images/i-money-graph.png)

.feature-item--multilanguage::before
    background-image url(../images/i-languages-icons.png)


.presentation-content__tripservice-club-features/*ol.features-list */
    padding-left default_padding
    padding-right default_padding

    @media (max-width bp_reduced-x-padding)
        padding-left medium_padding
        padding-right medium_padding

    @media (max-width bp_low-x-padding)
        padding-left reduced_padding_2
        padding-right reduced_padding_2

    @media (max-width bp_lower-x-padding)
        padding-left low_padding
        padding-right low_padding

    @media (max-width bp_small-x-padding)
        padding-left lower_padding
        padding-right lower_padding

.feature-item--accessibility::after
    background-image url(../images/i-phone-hand.png)

.feature-item--multiplatformer::after
    background-image url(../images/i-media-player.png)

.feature-item--multilingual::after
    background-image url(../images/i-language-bubbles-red.png)

.feature-item--tour-planner::after
    background-image url(../images/i-palms-envelope.png)

.feature-item--handbook::after
    background-image url(../images/i-book.png)

.feature-item--economy::after
    background-image url(../images/i-moneybag-hand.png)


.presentation-content__questionnare/*ul.features-list */
    padding-left default_padding
    padding-right default_padding
    padding-bottom 60px

    @media (max-width bp_medium-x-padding)
        padding-left reduced_padding_2
        padding-right reduced_padding_2

    @media (max-width bp_reduced-x-padding)
        padding-left low_padding
        padding-right low_padding

    @media (max-width bp_low-x-padding)
        padding-left small_padding
        padding-right small_padding

    @media (max-width lg)
        padding-left small_padding
        padding-right small_padding

.feature-item--info-aggregation::before
    background-image url(../images/i-user-message.png)

.feature-item--novices-help::before
    background-image url(../images/i-loupe-with-rating.png)

.feature-item--experienced-help::before
    background-image url(../images/i-handshake--big.png)

.feature-item--incoming-operator-help::before
    background-image url(../images/i-hands-gear.png)

.feature-item--replies-rating::before
    background-image url(../images/i-rating-stars.png)

.feature-item--analisys-and-statictics::before
    background-image url(../images/i-radial-diagramm.png)


.custom-banner--v1
    min-height 325px
    padding-bottom 36px
    text-align center

    $scalable_props = {
        min-height: 325px
        padding-bottom: 36px
    }
    scalabilityMixin($scalable_props)

.custom-banner__title
    margin-top 0
    margin-bottom 0
    text-align center

    .wrapped-in-braces
        position relative
        display inline-block
        padding-left 35px
        padding-right 42px

        $scalable_props = {
            padding-left: 35px
            padding-right: 42px
        }
        scalabilityMixin($scalable_props)

        &::before
        &::after
            position absolute
            top 0
            width 10px
            height 36px

            $scalable_props = {
                width: 10px
                height: 36px
            }
            scalabilityMixin($scalable_props)

        &::before
            left 0
            content '['

        &::after
            right 0
            content ']'

    .custom-banner--v1 > &
        fontHvBold30_auto()
        padding-top 22px
        padding-bottom 18px
        margin-bottom 29px
        color c_seo-2
        background-color c_black-transparent-022

        $scalable_props = {
            padding-top: 22px
            padding-bottom: 18px
            margin-bottom: 29px
        }
        scalabilityMixin($scalable_props, 30, fontHvBold30_auto)

.custom-banner__content
    padding-left default_padding
    padding-right default_padding

    $scalable_props = {
        padding-left: default_padding
        padding-right: default_padding
    }
    scalabilityMixin($scalable_props)

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

        $scalable_props = {
            padding-left: reduced_padding
            padding-right: reduced_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props)

    .custom-banner--v1 &
        margin 0
        list-style-type none

    .custom-banner--v2 &
        fontHvRoman18_24()
        color c_white
        scalabilityMixin(false, 10, fontHvRoman18_24)

        & > p:last-of-type
            margin-bottom 36px
            scalabilityMixin({ margin-bottom: 36px }, 18)

.custom-banner__link
    .custom-banner--v1 &
        fontHvLight18_30()
        color c_white
        text-decoration none
        scalabilityMixin(false, 18, fontHvLight18_30)

        &:hover
            text-decoration none

.custom-banner--with-gradient
    background-image linear-gradient(to bottom, rgba(153,153,153,0) 0%, rgba(214,214,214,0.31) 38%, rgba(74,205,205,0.32) 39%,rgba(74,205,205,0.32) 100%), url()


.default-section
    &--bright
        color c_contrast-light
        background-color c_contrast

.default-section__content
    .presentation-content__clients-replies &
        margin-bottom 33px
        scalabilityMixin({ margin-bottom: 33px })

.presentation-content__search-and-promo-tools/*.default-section*/
    background-color c_white

.default-section__header
    padding-left default_padding
    padding-right default_padding
    text-align center
    padding-bottom 1px
    margin-bottom -1px

    $scalable_props = {
        padding-left: default_padding
        padding-right: default_padding
    }
    scalabilityMixin($scalable_props)

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

        $scalable_props = {
            padding-left: reduced_padding
            padding-right: reduced_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props)

    .presentation-content__search-and-promo-tools &
        padding-top 48px
        scalabilityMixin({ padding-top: 48px })

[class*=default-section__header--diamond--]
    position relative
    min-height 275px
    padding-top 94px
    padding-bottom 50px

    $scalable_props = {
        min-height: 275px
        padding-top: 94px
        padding-bottom: 50px
    }
    scalabilityMixin($scalable_props)

    &::before
        position absolute
        top 55px
        left 0
        right 0
        height 173px
        width 248px
        margin-left auto
        margin-right auto
        background-repeat no-repeat
        background-size cover
        content ''

        $scalable_props = {
            top: 55px
            height: 173px
            width: 248px
        }
        scalabilityMixin($scalable_props)

// .default-section__header--diamond
//     position relative
//     min-height 275px
//     padding-top 94px
//     padding-bottom 50px
//
//     &::before
//         position absolute
//         top 55px
//         left 0
//         right 0
//         height 173px
//         width 248px
//         margin-left auto
//         margin-right auto
//         background-repeat no-repeat
//         content ''

.default-section__header--diamond--primary::before
    background-image url(../images/bg-diamond-primary.svg)

.default-section__header--diamond--secondary::before
    background-image url(../images/bg-diamond-secondary.svg)

.default-section__header--decorated
    background-size cover
    background-position center

    .presentation-content__search-and-promo-tools &
        min-height 320px
        padding-top 80px
        background-color antiquewhite
        background-image url(../images/bg-presentation-instruments--light.jpg)

        $scalable_props = {
            min-height: 320px
            padding-top: 80px
        }
        scalabilityMixin($scalable_props)

.default-section__title
    fontHvBold40_auto()
    color c_contrast
    margin-top 0
    margin-bottom 33px
    scalabilityMixin({ margin-bottom: 33px }, 40, fontHvBold40_auto)

    .default-section__header--diamond--primary &
    .default-section__header--diamond--secondary &
        fontHvBold30_auto()
        position relative
        color c_white
        scalabilityMixin(false, 30, fontHvBold30_auto)

.default-section__title-secondary
    fontHvBold30_auto()
    margin-top 44px
    margin-bottom 44px
    color c_contrast
    text-align center

    $scalable_props = {
        margin-top: 44px
        margin-bottom: 44px
    }
    scalabilityMixin($scalable_props, 30, fontHvBold30_auto)

.default-section__title-alternate
    fontHvBold37_auto()
    color c_darken-8-font
    text-align center

.default-section__description
    fontHvRoman16_auto()
    color c_darken-8-font


.unique-article
    position relative
    box-shadow inset 0 3px 3px #ebebeb, 0 3px 3px #ebebeb
    margin-bottom 52px

    &::before
        position absolute
        content ''

    &::after
        position absolute
        z-index 2

.unique-article__header
    padding-top 40px
    padding-bottom 40px
    padding-left default_padding
    padding-right default_padding
    text-align center

    $scalable_props = {
        padding-top: 40px
        padding-bottom: 40px
    }
    scalabilityMixin($scalable_props)

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

.unique-article__header-title
    //

.unique-article__header-title--primary
    fontHvBold60_72()
    margin-top 0
    margin-bottom 0
    color c_darken-4-font
    scalabilityMixin(false, 60, fontHvBold60_72)

.unique-article__header-title--secondary
    fontHvBold40_auto()
    margin-top 0
    margin-bottom 10px
    color c_contrast
    scalabilityMixin(false, 40, fontHvBold40_auto)

.unique-article__content
    //

.unique-article__content-title
    fontHvBold30()
    margin-top 40px
    margin-bottom 72px
    text-align center
    color c_darken-4-font

    $scalable_props = {
        margin-top: 40px
        margin-bottom: 72px
    }
    scalabilityMixin($scalable_props, 30, fontHvBold30)

.presentation-page__tripservice-club /*.unique-article*/
    &::before
        right 38px
        top -66px
        width 150px
        height 222px
        background-repeat no-repeat
        background-size contain
        background-image url(../images/i-ribbon.svg)
        transform rotate(90deg)

        $scalable_props = {
            right: 38px
            top: -66px
            width: 150px
            height: 222px
        }
        scalabilityMixin($scalable_props)

    &::after
        fontHvBold40()
        right 48px
        top 0
        width 100px
        height 50px
        color c_white
        transform rotate(45deg)
        content attr(data-unique-ribbon-text)

        $scalable_props = {
            right: 48px
            width: 100px
            height: 50px
        }
        scalabilityMixin($scalable_props, 40, fontHvBold40)

        +ie10-11-only()  // ie 10-11 only styles, hack / адовые костыли для IE 11
            @media (min-width $bp-upper_scale-fz-9 + 1)
                scalabilityMixin({ font-size: 0.25em })
            @media (max-width $bp-upper_scale-fz-9) and (min-width $bp-upper_scale-fz-8 + 1)
                scalabilityMixin({ font-size: 0.23em })
            @media (max-width $bp-upper_scale-fz-8) and (min-width $bp-upper_scale-fz-7 + 1)
                scalabilityMixin({ font-size: 0.21em })
            @media (max-width $bp-upper_scale-fz-7) and (min-width $bp-upper_scale-fz-xs + 1)
                scalabilityMixin({ font-size: 0.18em })
            @media (max-width $bp-upper_scale-fz-xs) and (min-width $bp-upper_scale-fz-reset + 1)
                scalabilityMixin({ font-size: 0.21em })
            @media (max-width $bp-upper_scale-fz-reset)
                scalabilityMixin({ font-size: 0.25em })


/*span*/.diamond
    position relative

    &::before
        position absolute
        width 100%
        height auto
        content ''

    &.diamond--primary::before
        color c_white
        background-color c_contrast

    &.diamond--secondary::before
        color c_white
        background-color c_seo-2


.presentation-content__tools/*ul.features-list*/
    padding-left default_padding
    padding-right default_padding
    padding-top 53px
    background-color c_white
    scalabilityMixin({ padding-top: 53px })

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

    @media (max-width: xl)
        padding-left lower_padding
        padding-right lower_padding

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

.feature-item--fast-search::before
    background-image url(../images/i-globe-on-hand.png)

.feature-item--representation::before
    background-image url(../images/i-document-search.png)

.feature-item--usability::before
    background-image url(../images/i-user-gears.png)

.feature-item--partnership::before
    background-image url(../images/i-enter-arrow.png)
    background-position 57% top

.feature-item--privacy::before
    background-image url(../images/i-linked-users.png)

.feature-item--mediality::before
    background-image url(../images/i-handshake.png)
    background-position center

    $scalable_props = {
        width: 70%
    }
    scalabilityMixin($scalable_props)


.presentation-content__company-profile /*section.default-section*/
    padding-top 22px
    padding-bottom 74px
    background-color c_white

    $scalable_props = {
        padding-top: 22px
        padding-bottom: 74px
    }
    scalabilityMixin($scalable_props)


.presentation-content__publications-collection/*.custom-banner--v2*/
    min-height 435px
    background-color #59422e
    background-repeat no-repeat
    // background-image url(../images/bg-avia-publications-collection-2.jpg)
    background-size cover
    background-position center
    scalabilityMixin({ min-height: 435px })


.box-list
    display flex
    flex-wrap wrap
    justify-content space-around
    padding-left reduced_padding
    padding-right reduced_padding
    margin-left -6px
    margin-right -6px
    margin-bottom -3em

    @media (max-width bp_sub-medium-x-padding)
        padding-left low_padding
        padding-right low_padding

    @media (max-width bp_reduced-x-padding)
        padding-left lower_padding
        padding-right lower_padding

    @media (max-width bp_lower-x-padding)
        padding-left small_padding
        padding-right small_padding

    @media (max-width bp_smallest-x-padding) and (min-width $bp-upper_scale-fz-9 + 1)
        padding-left default_padding
        padding-right default_padding

    @media (max-width bp_desktop) and (min-width $bp-upper_scale-fz-7 + 1)
        padding-left default_padding
        padding-right default_padding

    @media (max-width 995px) and (min-width 926px)
        padding-left default_padding
        padding-right default_padding

    @media (max-width 925px) and (min-width xs)
        padding-left low_padding
        padding-right low_padding

.box-list__item
    margin-left 6px
    margin-right 6px
    margin-bottom 3em

.box-list__item-link
    display block

.bordered-box
    position relative
    display inline-block
    vertical-align top
    border 1px solid c_border-dim

.bordered-box--v1
    flex-basis 197px
    height 120px
    width 197px
    max-width 197px  //ie11
    padding-left 55px
    padding-right 55px
    padding-top 13px
    background-color c_white

    $scalable_props = {
        flex-basis: 197px
        height: 120px
        width: 197px
        max-width: 197px  //ie11
        padding-left: 55px
        padding-right: 55px
        padding-top: 13px
    }
    scalabilityMixin($scalable_props)

    &::before
    &::after
        position absolute
        left 15.8333%
        width 68.75%
        z-index 2
        height 1px
        background-color c_white
        content ''

    &::before
        top -1px

    &::after
        bottom -1px

.bordered-box__image
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto

    .bordered-box--v1 &
        max-height 100px
        max-width 130px

        $scalable_props = {
            max-height: 100px
            max-width: 130px
        }
        scalabilityMixin($scalable_props)


/*ul*/.bounded-list
    position relative
    display flex
    flex-wrap wrap
    align-items center
    padding-left default_padding
    padding-right default_padding
    margin-left -1.9231%
    margin-right -1.9231%
    margin-top 78px
    scalabilityMixin({ margin-top: 78px })

    @media (max-width xl)
        margin-left 0
        margin-right 0

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

    &::before
        position absolute
        top -59px
        bottom 0
        left 49.8%
        margin auto
        width 2px
        height 100%
        background-color c_seo-2
        content ''

        @media (max-width xl)
            left auto

/*li*/.bounded-list__item
    position relative
    // max-width 400px
    width 47.9567%
    min-width 160px
    min-height 120px
    list-style-type none
    border 1px solid c_seo-2
    border-radius 3px
    padding-top 36px
    padding-bottom 29px
    padding-left 120px
    padding-right 22px
    margin-bottom 16px

    @media (max-width xl)
        width 95.9567%
        margin-left 4.0433%

    &::before
        position absolute
        width 4.01%
        height 1px
        background-color c_seo-2
        content ''

    &::after
        position absolute
        width 10px
        height 10px
        border-radius 50%
        background-color c_seo-2
        content ''

    &:nth-of-type(odd)
        top -78px
        margin-right 1.9231%

        @media (max-width xl)
            top 0
            width 91.9567%
            margin-right 0
            margin-left 4.15% //1.9231%

    &:nth-of-type(odd)::before
        left 100%
        top 50%

        @media (max-width xl)
            left auto
            right 100%

    &:nth-of-type(odd)::after
        left calc(104.01% - 4px)
        top calc(50% - 5px)

        @media (max-width xl)
            left auto
            right calc(104.01% - 3px)

    &:nth-of-type(even)
        margin-left 1.9231%

        @media (max-width xl)
            margin-left 7.45%

    &:nth-of-type(even)::before
        right 100%
        top 50%

        @media (max-width xl)
            width 8.01%

    &:nth-of-type(even)::after
        right calc(104.01% - 3px)
        top calc(50% - 5px)

        @media (max-width xl)
            right calc(107.71% - 3px)

/*p*/.bounded-list__item-content
    fontHvLight14_auto()
    position relative
    margin-bottom 0
    color c_darkest-font

    &::before
        position absolute
        top 0
        bottom 0
        margin-top auto
        margin-bottom auto
        left -90px
        width 100px
        height 90px
        background-repeat no-repeat
        background-position center left
        content ''

    .bounded-list__item--monitor-icon &::before
        background-image url(../images/i-monitor.png)

    .bounded-list__item--discussion-icon &::before
        background-image url(../images/i-discussion.png)

    .bounded-list__item--user-bubble-icon &::before
        background-image url(../images/i-user-bubble.png)

    .bounded-list__item--chat-bubbles-icon &::before
        background-image url(../images/i-chat-bubbles.png)

    .bounded-list__item--documents-icon &::before
        background-image url(../images/i-documents.png)

    .bounded-list__item--user-link-icon &::before
        background-image url(../images/i-user-link.png)


.text-slat
    fontHvLight18_24()
    padding-top 34px
    padding-bottom 42px
    padding-left medium_padding
    padding-right medium_padding
    color c_white
    background-color c_contrast

    $scalable_props = {
        padding-top: 34px
        padding-bottom: 42px
        padding-left: medium_padding
        padding-right: medium_padding
    }
    scalabilityMixin($scalable_props, 18, fontHvLight18_24)

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

        $scalable_props = {
            padding-left: reduced_padding
            padding-right: reduced_padding
        }
        scalabilityMixin($scalable_props, 18)

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props, 18)

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props, 18)

.text-slat--alternate
    padding-top 50px
    padding-bottom 65px
    color c_seo-complimentary-font
    background-color c_seo-2

    $scalable_props = {
        padding-top: 50px
        padding-bottom: 65px
    }
    scalabilityMixin($scalable_props, 18)

/*p*/.text-slat__content
    fontHvRoman18_30()
    margin-bottom 36px
    scalabilityMixin({ margin-bottom: 36px }, 18, fontHvRoman18_30, 18)

    & > .important-text
        fontHvBold18_30()
        scalabilityMixin(false, 18, fontHvBold18_30, 18)

    .text-slat--alternate &
        margin-bottom 0
        text-align justify


/*ul*/.icons-list
    display flex
    padding-left 0
    margin-bottom 0
    flex-wrap wrap
    justify-content space-around

/*li*/.icons-list__item
    position relative
    list-style-type none

    &::before
        position absolute
        top 0
        left 0
        width 100%
        height 39px
        background-repeat no-repeat
        background-position center top
        // background-size contain
        content ''

.icon-list__item--hotels::before
    background-image url(../images/i-menu-hotels.png)

.icons-list__item--tours::before
    background-image url(../images/i-menu-tours.png)

.icons-list__item--excursions::before
    background-image url(../images/i-menu-excursions.png)

.icons-list__item--services::before
    background-image url(../images/i-menu-services.png)

.icons-list__item--transfers::before
    background-image url(../images/i-menu-transfers.png)


/*a*/.icons-list__item-link
    fontRobotoMedium14_20()
    position relative
    display block
    padding-top 39px
    color c_white
    text-decoration none

    &:hover
    &:focus
        text-decoration underline
        color c_white

    &:active
        color c_medium-font


.custom-banner--v2
    padding-top 26px
    padding-bottom 26px
    text-align center

    $scalable_props = {
        padding-top: 26px
        padding-bottom: 26px
    }
    scalabilityMixin($scalable_props)

.custom-banner__header
    .custom-banner--v2 &
        margin-bottom 53px
        scalabilityMixin({ margin-bottom: 53px })

.custom-banner__help-text
    .custom-banner--v2 &
        fontHvMedium18_30()
        display block
        margin-bottom 7px
        color c_seo-2
        scalabilityMixin({ margin-bottom: 7px }, 18, fontHvMedium18_30)

.custom-banner__title
    .custom-banner--v2 &
        fontHvBold40_auto()
        position relative
        width 70.8653%
        padding-left 1%
        padding-right 1%
        margin-left auto
        margin-right auto
        color c_white
        text-transform uppercase
        scalabilityMixin(false, 40, fontHvBold40_auto)

        @media (max-width: md)
            font-size 25px
            scalabilityMixin({ font-size: 25px })

        &::before
        &::after
            fontHvThin80_62()
            position absolute
            top 0
            width 28px
            height 75px
            color c_white

            $scalable_props = {
                width: 28px
                height: 75px
            }
            scalabilityMixin($scalable_props, 80, fontHvThin80_62, 40)

            +ie10-11-only()  // ie 10-11 only styles, hack / адовые костыли для IE 11
                @media (min-width $bp-upper_scale-fz-9 + 1)
                    scalabilityMixin({ font-size: 0.35em })
                @media (max-width $bp-upper_scale-fz-9) and (min-width $bp-upper_scale-fz-8 + 1)
                    scalabilityMixin({ font-size: 0.28em })
                @media (max-width $bp-upper_scale-fz-8) and (min-width $bp-upper_scale-fz-7 + 1)
                    scalabilityMixin({ font-size: 0.25em })
                @media (max-width $bp-upper_scale-fz-7) and (min-width $bp-upper_scale-fz-xs + 1)
                    scalabilityMixin({ font-size: 0.18em })
                @media (max-width $bp-upper_scale-fz-xs) and (min-width $bp-upper_scale-fz-reset + 1)
                    scalabilityMixin({ font-size: 0.25em })
                @media (max-width $bp-upper_scale-fz-reset)
                    scalabilityMixin({ font-size: 0.33em })

        &::before
            left 0
            content '{'

        &::after
            right 0
            content '}'

        > .primary-text
            display block
            margin-bottom -5px
            scalabilityMixin({ margin-bottom: -5px }, 40)

        > .secondary-text
            fontHvRoman24_30()
            display block
            text-transform lowercase
            scalabilityMixin(false, 40, fontHvRoman24_30, 40)


.important-text
    .default-section__header &
        fontHvMedium24_auto()
        color c_contrast


/*ul*/.paired-comparison
    display flex
    list-style-type none
    padding-left 0
    margin-bottom 0
    background-repeat repeat

    @media (max-width xss)
        flex-direction column

/*li*/.paired-comparison__element
    width 50%
    padding-left 6.25%
    padding-right 6.25%
    padding-top 30px
    padding-bottom 30px
    text-align center

    $scalable_props = {
        padding-top: 30px
        padding-bottom: 30px
    }
    scalabilityMixin($scalable_props)

    @media (max-width xss)
        width 100%

.paired-comparison__element-header
    fontHvBold26_auto()
    margin-top 0
    margin-bottom 20px
    scalabilityMixin({ margin-bottom: 20px }, 26, fontHvBold26_auto)

.paired-comparison__element-content
    fontHvRoman14_auto()
    scalabilityMixin(false, 14, fontHvRoman14_auto)

    > p:last-of-type
        margin-bottom 0

.presentation-content__other-blocks /*section.default-section*/
    padding-left default_padding
    padding-right default_padding
    padding-top 60px
    padding-bottom 60px
    margin-bottom 0 //28px

    $scalable_props = {
        padding-top: 60px
        padding-bottom: 60px
    }
    scalabilityMixin($scalable_props)

    @media (max-width bp_reduced-x-padding)
        padding-left reduced_padding
        padding-right reduced_padding

    @media (max-width bp_lower-x-padding)
        padding-left lower_padding
        padding-right lower_padding

    @media (max-width: lg)
        padding-left small_padding
        padding-right small_padding

.feature-item--statictics::before
    background-image url(../images/i-stat-vertical.png)

.feature-item--working-files::before
    background-image url(../images/i-arrow-up-stroked.png)

.feature-item--languages::before
    background-image url(../images/i-language-bubbles.png)


/**--------------------------------*\
 * .uploadable--our-partners
\*--------------------------------*/

.presentation-content__our-partners
    min-height 287px
    padding-left default_padding
    padding-right default_padding
    padding-top 25px
    padding-bottom 54px
    text-align center
    background-color #4bcdcd
    background-repeat repeat
    background-image url(../images/bg-with-us-pattern.jpg)
    background-position 59% 96%

    $scalable_props = {
        min-height: 287px
        padding-left: default_padding
        padding-right: default_padding
        padding-top: 25px
        padding-bottom: 54px
    }
    scalabilityMixin($scalable_props)

    .promo-text/*.uploadable__title*/
        fontHvBold36_43()
        color c_darken-2-font

        scalabilityMixin(false, 14, fontHvBold36_43)

    @media (max-width bp_medium-x-padding)
        padding-left reduced_padding_2
        padding-right reduced_padding_2

        $scalable_props = {
            padding-left: reduced_padding_2
            padding-right: reduced_padding_2
        }
        scalabilityMixin($scalable_props)

    @media (max-width bp_reduced-x-padding)
        padding-left lower_padding
        padding-right lower_padding

        $scalable_props = {
            padding-left: lower_padding
            padding-right: lower_padding
        }
        scalabilityMixin($scalable_props)

    @media (max-width bp_smallest-x-padding)
        padding-left small_padding
        padding-right small_padding

        $scalable_props = {
            padding-left: small_padding
            padding-right: small_padding
        }
        scalabilityMixin($scalable_props)

.uploadable
    position relative

.uploadable--our-partners
    display flex
    flex-direction column
    align-items center

.uploadable__title
    .uploadable--our-partners &
        display block
        margin-bottom 35px

        $scalable_props = { margin-bottom: 35px }
        scalabilityMixin($scalable_props, 36)

.uploadable__list
    perspective 100px
    width 100%

    $scalable_props = { perspective: 100px }
    scalabilityMixin($scalable_props)

.uploadable__list-item
    opacity 0
    //transform rotateY(-90deg)
    transition all 0.4s cubic-bezier(.36,-0.64,.34,1.76)

    .uploadable--our-partners &
        height 0

    .uploadable--clients-replies &
        max-height 0
        min-height auto

    &[data-ajax-load-status=none]
    &[data-ajax-load-status=loaded]
        opacity 1
        transform none

    .uploadable__list--fixed-height > &[data-ajax-load-status=none]
    .uploadable__list--fixed-height > &[data-ajax-load-status=loaded]
        height 110px
        margin-bottom 20px

        $scalable_props = {
            height: 110px
            margin-bottom: 20px
        }
        scalabilityMixin($scalable_props)

    .uploadable__list--auto-height > &[data-ajax-load-status=none]
    .uploadable__list--auto-height > &[data-ajax-load-status=loaded]
        max-height 5000px
        min-height 206px

        $scalable_props = {
            max-height: 5000px
            min-height: 206px
        }
        scalabilityMixin($scalable_props)


/*ul*/.cards-list/*.uploadable__content*/
    padding 0
    margin 0
    list-style-type none
    // font-size 0
    text-align center

/*li*/.cards-list__item
    position relative
    list-style none
    display inline-block
    vertical-align top
    overflow hidden
    width 145px /*147px*/
    margin-right 9px
    margin-bottom 0
    background-color c_white
    font-size 1rem

    $scalable_props = {
        width: 145px
        margin-right: 9px
        font-size: 1em
    }
    scalabilityMixin($scalable_props)

    // opacity 0
    // //transform rotateY(-90deg)
    // transition all 0.4s cubic-bezier(.36,-0.64,.34,1.76)
    //
    // &[data-ajax-load-status=none]
    // &[data-ajax-load-status=loaded]
    //     height 110px
    //     margin-bottom 20px
    //
    //     opacity 1
    //     transform none

    &:nth-of-type(5n+5)
        // margin-right 0

    // &::before
    //   position absolute
    //   display block
    //   top 0
    //   left 0
    //   height calc(100%)
    //   width 65px
    //   background-color #fff
    //   content ''

.cards-list__image
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    display block

    // &::before
    //   position absolute
    //   z-index 5
    //   display block
    //   top 0
    //   left 0
    //   height calc(100%)
    //   width 100%
    //   background-color rgb(245, 245, 245)
    //   border 2px dotted rgb(200, 200, 200)
    //   font-size 0 // скрываем текст атрибута Alt
    //   content ''
    //
    // &::after
    //   position absolute
    //   top 25px
    //   left 0
    //   z-index 6
    //   display block
    //   width 100%
    //   font-size 16px
    //   font-style italic
    //   font-family 'FontAwesome'
    //   text-align center
    //   color rgb(100, 100, 100)
    //   content '\f127'

.cards-list__image-wrapper
    //


.uploadable__load-button
    .uploadable--our-partners &
        position absolute
        bottom -14px // это значение фиксировано, даже при .is-scalable
        left 50%
        transform translateX(-50%)


/**--------------------------------*\
 * .uploadable--clients-replies
\*--------------------------------*/

.presentation-content__clients-replies
    padding-left default_padding
    padding-right default_padding
    padding-top 74px
    padding-bottom 107px
    text-align center

    @media (max-width bp_medium-x-padding)
        padding-left reduced_padding_2
        padding-right reduced_padding_2

    @media (max-width bp_reduced-x-padding)
        padding-left low_padding
        padding-right low_padding

    @media (max-width bp_low-x-padding)
        padding-left small_padding
        padding-right small_padding

    @media (max-width lg)
        padding-left small_padding
        padding-right small_padding


.back-to-top
    display block
    width 100%
    height 58px
    background-color c_seo-2
    background-repeat no-repeat
    background-image url(../images/i-arrow-up.png)
    background-position center center
    border 0
    transition color .4s, background-color .4s, border .4s

    &:hover
    &:focus
        background-color c_seo-4

    &:active
        background-color c_seo-3
        box-shadow inset 0 0 6px -2px c_dark-transparent-bg





/**--------------------------------*\
 * .presentation-page__modal--inner
\*--------------------------------*/

.modal/*.publictaions*/
    position fixed

.modal--inner
    z-index 30
    left 100px
    top auto
    bottom 100%
    display block
    height 100vh
    overflow-y scroll
    opacity 0
    background-color c_white
    transition bottom .4s, opacity .4s

    @media (max-width xs)
        left 0
        height calc(100vh - 80px)

    &.modal--open
        // display block
        bottom 0
        opacity 1

.modal--publications--presentation
    // cursor crosshair

.modal__header
.publications__header
    min-height 174px
    padding-top 54px
    padding-bottom 42px
    padding-left 104px
    padding-right 120px
    text-align center

    @media (max-width bp_publications)
        padding-left 103px
        padding-right 103px

    @media (max-width bp_publications_lower)
        padding-left 40px
        padding-right 40px

.modal__content/*.publications__features-list*/
.modal__content-part/*.publications__features-list-item*/
    // cursor crosshair

/*button*/.modal__close
    position fixed
    top 54px
    right 43px
    z-index 10
    border 1px solid c_border-lighter
    border-radius 1px
    text-indent -9999px
    overflow hidden
    width 63px
    height 63px
    background-color c_white
    background-repeat no-repeat
    background-image url(../images/i-publications-close-cross.svg)
    background-position center
    transition background-color .4s, box-shadow .4s

    @media (max-width xs)
        top 134px

    @media (max-width bp_publications)
        right 20px

    @media (max-width bp_publications_lower)
        top 90px
        width 43px
        height 43px

    &:hover
    &:focus
        background-color c_basic-bg

    &:active
        box-shadow inset 0 0 13px -4px c_black-transparent-05





/**--------------------------------*\
 * .modal--presentation-video
\*--------------------------------*/

.modal--presentation-video
    position fixed
    // display block
    width 100%
    height 100%
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    background-color c_dark-transparent-bg

    &.modal--open
        display block

    .modal__header
        font-size 15px
        color c_white

    .modal__content
        position absolute
        padding-bottom 28.125% // 56.25% /* 16:9 */
        // padding-top 25px
        padding-top 28.125%
        height 0
        width 100%
        top 0
        bottom 0
        left 0
        right 0
        margin auto


.embed-responsive-item
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    width 90%
    height 90%

    @media (min-width 1287px)
        height 90vh





/**--------------------------------*\
 * .publications
\*--------------------------------*/

.publications
    // cursor crosshair

/*h2*/.publications__title
    margin 0
    color c_darken-5-font

.publications__title-primary
    fontHvBold40_auto()
    display block
    margin-bottom -4px
    text-transform uppercase

.publications__title-secondary
    fontHvRoman24_30()
    display block
    text-transform lowercase

/*ol*/.publications__features-list
    padding 0
    margin 0
    counter-reset li

/*li*/.publications__features-list-item/*.publications-feature*/
    display block
    list-style none


.publications-feature
    position relative
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start
    padding-left 104px
    padding-right 120px
    padding-top 87px
    padding-bottom 44px
    min-height 422px
    background-color c_white
    background-repeat no-repeat

    @media (max-width: bp_publications)
        &.publications-feature
            padding-left 30px
            padding-right 30px

    @media (max-width: bp_publications_lower)
        &.publications-feature
            padding-left 15px
            padding-right 15px
            padding-top 60px

    &::before
        position absolute
        z-index 10
        background-repeat no-repeat
        content ''


.publications-feature__header
    position relative
    padding-left 96px
    margin-bottom 28px

    @media (max-width: bp_publications_lower)
        padding-left 0
        padding-top 90px

    &::before
        fontHvThin36_40()
        position absolute
        z-index 20
        left 0
        top 6px
        width 64px
        height 64px
        padding-top 12px
        padding-left 4px
        text-align center
        color c_white
        background-color gray
        counter-increment li
        content '0' counter(li)

    &::after
        position absolute
        z-index 10
        left 0
        top 6px
        width 64px
        height 64px
        background-color lighten(gray, 20%)
        transform rotate(25deg)
        content ''


/*h3*/.publications-feature__title
    margin 0
    text-transform uppercase

.publications-feature__title-primary
    fontHvBold36_40()
    display block

.publications-feature__title-secondary
    fontHvThin36_40()
    display block


.publications-feature__content
    fontHvRoman16_24()
    position relative

    @media (max-width: bp_publications)
        &&:not(.publications-feature__content--shifted)
            padding-left 96px

    @media (max-width: bp_publications_lower)
        &&&
            padding-left 0

    & > p
        margin-bottom 24px

    & > p:last-of-type
        margin-bottom 0


.publications-feature__content--shifted
    padding-left 96px


.publications-feature__buttons
    clear both
    margin-top 27px

    @media (max-width: bp_publications)
        &&:not(.publications-feature__buttons--shifted)
            padding-left 96px

    @media (max-width: bp_publications_lower)
        &&
            padding-left 0

.publications-feature__buttons--shifted
    padding-left 96px





/**--------------------------------*\
 * .presentation-page__company-type-menu
\*--------------------------------*/

.presentation-page__company-type-menu/*.menu-company-type*/
    position fixed
    top 0
    right 0
    bottom 0
    margin-top auto
    margin-bottom auto
    z-index 20
    width 300px
    min-width 300px
    color c_black
    background-color c_aside
    box-shadow bxsh-default

    @media (max-width: xl) and (min-width: xs)
        width 250px
        min-width 250px

    @media (max-width: xs)
        position relative
        // z-index 0
        width 100%

.menu-company-type__header
    fontHvMedium18_24()
    position: relative
    z-index 10
    padding-left 87px
    padding-right 134px
    padding-top 26px
    padding-bottom 28px
    border-bottom 1px solid #dc0e4d
    color c_white
    background-color c_contrast
    background-repeat no-repeat
    background-image url(../images/i-rocket.png)
    background-position 22px 22px
    text-transform uppercase

    @media (max-width: xl) and (min-width: xs)
        padding-right 84px

/*button*/.menu-company-type__header-switch
    position absolute
    right 47px
    top 26px
    width 50px
    height 25px
    border none
    font-size 0
    background-color transparent

    background -moz-linear-gradient(top,  rgba(255,255,255,1) 17%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 21%, rgba(255,255,255,0) 39%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 47%, rgba(255,255,255,0.99) 60%, rgba(255,255,255,0) 61%, rgba(255,255,255,0) 79%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 89%)
    background -webkit-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(255,255,255,1) 18%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 21%,rgba(255,255,255,0) 39%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 47%,rgba(255,255,255,0.99) 60%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 79%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 89%)
    background linear-gradient(to bottom,  rgba(255,255,255,1) 17%,rgba(255,255,255,1) 18%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 21%,rgba(255,255,255,0) 39%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 47%,rgba(255,255,255,0.99) 60%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 79%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 89%)

    display none

    transition transform .4s ease-in, height .4s ease-in, top .4s ease-in

    &:focus
        outline none
        box-shadow none

    @media (max-width: xs)
        display block

    .menu-company-type--opened &
        transform rotate(-450deg)
        height 40px
        top 20px

.menu-company-type__content/*.company-types-list*/
    background-color c_contrast

    @media (max-width: xs)
        position absolute
        width 100%
        top -500px
        transition top .4s ease-in

        .menu-company-type--opened &
            top 79px

.company-types-list
    padding-left 0
    margin-bottom 0

.company-types-list__item
    list-style none

    &:not(:first-child) > a:not(.company-types-list__link--current)
        box-shadow inset 0 1px 3px rgba(0,0,0,.72)

.company-types-list__link
    fontHvMedium16_14()
    position relative
    display block
    min-height 59px
    padding-left 40px
    padding-right 30px
    padding-top 20px //16px
    padding-bottom 17px //19px
    color c_aside
    background-color c_contrast
    text-decoration none
    transition color .4s, background-color .4s

    @media (max-width: xl) and (min-width: xs)
        padding-left 20px
        padding-right 10px

    &:hover
    &:focus
        color c_aside
        background-color c_contrast-darken
        text-decoration none

    &:active
        color c_aside-active

.company-types-list__link--current
    color c_aside-current
    padding-left 50px
    padding-top 20px //18px
    padding-bottom 17px
    background-color c_seo-2

    @media (max-width: xl) and (min-width: xs)
        padding-left 35px

    &:hover
    &:focus
        color c_aside-current
        background-color c_seo-2

    &:active
        color c_aside-current

    &::before
        position absolute
        left -13px
        top 0
        bottom 0
        margin-top auto
        margin-bottom auto
        width 0
        height 0
        border-style solid
        border-width 29px 13px 30px 0
        border-color transparent c_seo-2 transparent transparent
        content ''

    &::after
        position absolute
        left 23px
        top 0 //24px
        bottom 0
        margin-top auto
        margin-bottom auto
        width 7px
        height 13px
        background-repeat no-repeat
        background-image url(../images/i-arrow-right.png)
        content ''

        @media (max-width: xl) and (min-width: xs)
            left 11px

        @media (max-width: xs)
            transform rotate(-90deg)


// .test
//     font-size 20px
//     +not-ie10-11()
//         font-size 999px
//     +ie10-11-only()
//         font-size 1px
