doctype html()

html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='imagetoolbar' content='no')
        meta(name='msthemecompatible' content='no')
        meta(name='cleartype' content='on')
        meta(name='HandheldFriendly' content='True')

        meta(name='format-detection' content='telephone=no')
        meta(name='format-detection' content='address=no')

        meta(name='google' value='notranslate')

        meta(name='theme-color' content='#ffffff')

        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

        link(rel='manifest' href='/manifest.json')

        meta(name='application-name' content=pageTitle || '')
        meta(name='msapplication-tooltip' content=pageDescription || '')
        meta(name='msapplication-TileColor' content='#ffffff')

        title Megatype test page
        link(href='../../distrs/normalize/normalize.min.css' rel='stylesheet')
        link(href='./css/page_style.css' rel='stylesheet')

    body
        main.container
            h1 Привет мир!
            h2 от классных разработчиков
            p.
                И снова мы пишем этот адский код. Это вовсе не так просто как кажется.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
            p.
                И снова мы пишем этот адский код. Это вовсе не так просто как кажется.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
            h2 Благодарности
            p.
                И снова мы пишем этот адский код. Это вовсе не так просто как кажется.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
            p.
                И снова мы пишем этот адский код. Это вовсе не так просто как кажется.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minima.

    script(src='../../distrs/jquery/jquery-2.2.4.min.js')
    script(src='./js/page_js.js')
