include ../../../layouts/sub/sub-2/blocks/_mixins.jade

//- mixin wrapped_input(label, id, className, name, value)
//-     .wrapped-input--light
//-         input(id=id, class='input--light ' + className, type="text", name=name, value=value)
//-         label(for=id)= label
