// =====================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ---------------------- Megatype ---------------------
// --- CSS breakpoints, typographic rhythm and grids ---
// _____________________________________________________
// =====================================================
// @author Thomas Bredin-Grey <tom@studiothick.com>
// Megatype: https://github.com/StudioThick/megatype
// =====================================================
/* CSS compiled from SCSS */
/* --------------------------------------- */
// toggle debug
$debug-allow ?= true
// helper functions
// must be before config so that variables can use them
@import 'megatype/_map-helpers'
// import site base
@import 'megatype/_config'
// custom toolsets
@import 'megatype/toolsets/_toolset__units'
@import 'megatype/toolsets/_toolset__easing'
// import mixins
@import 'megatype/_media'
@import 'megatype/_container'
@import 'megatype/_typography'
@import 'megatype/_debug'
@import 'megatype/_text-link'
// import test css — enable to output some test styles
// @import "megatype/test/globals";
// @import "megatype/test/typography";
