@import 'helpers/_variables'
@import 'helpers/_mixins'
@import 'helpers/_block_mixins'

@import '_basic'
@import '_grid'
@import '_flex'
@import '_components'

body
    display flex
    flex-wrap nowrap
    align-items stretch

    overflow-x hidden

    @media (max-width: xs)
        flex-direction column

body.no-y-scroll
    overflow-y hidden
