@import 'helpers/_variables'
@import 'helpers/_block_mixins'

.custom-input
    position relative
    width 100%

.custom-input--dark
    max-width 244px

    & > .custom-input__field
        box-sizing border-box
        width 100%
        border 1px solid c_seo-2
        padding-top 1px
        padding-right 20px
        padding-bottom 2px
        padding-left 20px
        fontHvLight14_36()
        height calc(36px + 2px + 1px + 1px + 1px) /* ie-fix 36 + 2 + 1 + 1 + 1 = 35px */
        color c_white
        background-color transparent
        outline none
        transition box-shadow .4s

        &:hover
        &:focus
            box-shadow 0 0 6px c_seo-2, inset 0 0 3px c_seo-2

        // &:invalid:hover
        &.is-invalid:hover
        // &:invalid:focus
        &.is-invalid:focus
            box-shadow 0 0 6px c_error-1, inset 0 0 3px c_error-1

    & > .custom-input__validation-state
        position absolute
        right -19px - 17px
        width 17px
        background-repeat no-repeat
        background-position 0 0
        display none

    & > .custom-input__validation-text
        position absolute
        bottom 10px
        right 15px
        color c_error-1
        font-size 11px
        display none


.custom-input--with-button
    display flex
    justify-content flex-start
    overflow hidden
    max-width 259px
    min-height 41px
    height 41px  // IE11 fix
    border-radius 5px
    background-color c_white

    > .custom-input__field
        fontHvRoman16_24()
        flex-grow 1
        padding-left 20px
        border none
        border-radius 5px 0 0 5px
        outline none
        color c_darker-2-font

    > .custom-input__button
        fontRobotoMedium16_24()
        min-width 47px
        flex-basis 47px
        padding 0
        border none
        border-radius 5px
        background-color c_black
        color c_white


.custom-input__field:invalid + .custom-input__validation-state
.custom-input__field:required + .custom-input__validation-state
.custom-input__field:valid + .custom-input__validation-state
.custom-input__field.is-invalid + .custom-input__validation-state
.custom-input__field.is-invalid + .custom-input__validation-state
    display block

.custom-input__field:invalid + .custom-input__validation-state
    top 11px
    height 17px
    // background-image url(../images/bg-err-1.svg)
    // background-size 20px 23px
    background-image url(../images/bg-err-2.svg)
    background-size auto

.custom-input__field:required + .custom-input__validation-state
    top 11px
    height 17px
    background-image url(../images/bg-req-1.svg)
    background-size 20px 17px

.custom-input__field:valid + .custom-input__validation-state
    top 12px
    height 14px
    background-image url(../images/bg-ok-1.png)
    background-size 17px 14px

.custom-input__field.is-invalid + .custom-input__validation-state
    top 11px
    height 17px
    // background-image url(../images/bg-err-1.svg)
    // background-size 20px 23px
    background-image url(../images/bg-err-2.svg)
    background-size auto
    background-position 3px 3px

.custom-input__field.is-invalid ~ .custom-input__validation-text
    display block

.custom-input__field.is-valid + .custom-input__validation-state
    top 12px
    height 14px
    background-image url(../images/bg-ok-1.png)
    background-size 17px 14px

.custom-input__field.is-valid:invalid + .custom-input__validation-state
    top 11px
    height 17px
    // background-image url(../images/bg-err-1.svg)
    // background-size 20px 23px
    background-image url(../images/bg-err-2.svg)
    background-size auto

// .custom-input__field:invalid
.custom-input__field.is-invalid
    border-color c_error-1

.custom-input__field.is-valid
    border-color c_seo-2
