extends ../../layouts/sub/sub-2/sub-2

include ./blocks/_mixins.jade


block head
    - var pageName = 'avia-publications';
    - var pageTitle = 'Avia-publications page template';
  

block append links
    //- link(href='./css/page_css.css' rel='stylesheet')
    link(href='./css/page_style.css' rel='stylesheet')
    //- link(href='./css/page_css.min.css' rel='stylesheet')
    //- link(href='./css/page_style.min.css' rel='stylesheet')

block append scripts
    script(src='./js/page_js.js')
    //- script(src='./js/page_js.min.js')


block append components_links
    include ../../components/popup/blocks/popup-link


block append components_scripts
    include ../../components/popup/blocks/popup-script


block append modals
    include ../../components/popup/popup


block append content
    article.avia-publications-content Публикации !


  
