@import '_variables';

fontHvThin()
    font-family 'helveticaneuecyrthin'
    font-weight normal

fontHvLight()
    font-family 'helveticaneuecyrlight'
    font-weight normal

fontHvRoman()
    font-family 'helveticaneuecyrroman'
    font-weight normal

fontHvMedium()
    font-family 'helveticaneuecyrmedium'
    font-weight normal

fontHvBold()
    font-family 'helveticaneuecyrbold'
    font-weight normal


fontHvThin60()
    fontHvThin()
    font-size 60px
    line-height 60px


fontHvLight12_auto()
    fontHvLight()
    font-size 12px
    line-height 1.2

fontHvLight13_30()
    fontHvLight()
    font-size 13px
    line-height 30px

fontHvLight14_20()
    fontHvLight()
    font-size 14px
    line-height 20px

fontHvLight14_26()
    fontHvLight()
    font-size 14px
    line-height 26px

fontHvLight14_28()
    fontHvLight()
    font-size 14px
    line-height 28px

fontHvLight14_28em()
    fontHvLight()
    font-size 1.4em
    line-height 2

fontHvLight14_36()
    fontHvLight()
    font-size 14px
    line-height 36px

fontHvLight15_22()
    fontHvLight()
    font-size 15px
    line-height 22px

fontHvLight15_22em()
    fontHvLight()
    font-size 1.5em
    line-height 1.4667

fontHvLight15_24()
    fontHvLight()
    font-size 15px
    line-height 24px

fontHvLight16_24()
    fontHvLight()
    font-size 16px
    line-height 24px

fontHvLight16_36()
    fontHvLight()
    font-size 16px
    line-height 36px

fontHvLight18_30()
    fontHvLight()
    font-size 18px
    line-height 30px

fontHvLight18_30EM($base_mod = 1)
    fontHvLight()
    font-size (1.8 / $base_mod)em
    line-height 1.6667

fontHvLight30_52()
    fontHvLight()
    font-size 30px
    line-height 52px


fontHvRoman12_auto()
    fontHvRoman()
    font-size 12px
    line-height 1.2

fontHvRoman14_auto()
    fontHvRoman()
    font-size 14px
    line-height 1.2

fontHvRoman14_autoEM($base_mod = 1)
    fontHvRoman()
    font-size (1.4 / $base_mod)em
    line-height 1.2

fontHvRoman14_16()
    fontHvRoman()
    font-size 14px
    line-height 16px

fontHvRoman14_20()
    fontHvRoman()
    font-size 14px
    line-height 20px

fontHvRoman14_27()
    fontHvRoman()
    font-size 14px
    line-height 27px

fontHvRoman14_30()
    fontHvRoman()
    font-size 14px
    line-height 30px

fontHvRoman16_24()
    fontHvRoman()
    font-size 16px
    line-height 24px

fontHvRoman16_24EM($base_mod = 1)
    fontHvRoman()
    font-size (1.6 / $base_mod)em
    line-height 1.5

fontHvRoman18_36()
    fontHvRoman()
    font-size 18px
    line-height 36px

fontHvRoman18_40()
    fontHvRoman()
    font-size 18px
    line-height 40px


fontHvMedium12_30()
    fontHvMedium()
    font-size 12px
    line-height 30px

fontHvMedium14_20()
    fontHvMedium()
    font-size 14px
    line-height 20px

fontHvMedium14_24()
    fontHvMedium()
    font-size 14px
    line-height 24px

fontHvMedium18_24()
    fontHvMedium()
    font-size 18px
    line-height 24px

fontHvMedium18_30()
    fontHvMedium()
    font-size 18px
    line-height 30px

fontHvMedium18_30EM($base_mod = 1)
    fontHvMedium()
    font-size (1.8 / $base_mod)em
    line-height 1.6667

fontHvBold14_18()
    fontHvBold()
    font-size 14px
    line-height 18px

fontHvBold14_18em($base_mod = 1)
    fontHvBold()
    font-size (1.4 / $base_mod)em
    line-height 1.2857

fontHvBold14_20()
    fontHvBold()
    font-size 14px
    line-height 20px

fontHvBold15_22()
    fontHvBold()
    font-size 15px
    line-height 22px

fontHvBold15_22em()
    fontHvBold()
    font-size 1.5em
    line-height 1.4667

fontHvBold16_28()
    fontHvBold()
    font-size 16px
    line-height 28px

fontHvBold16_28em()
    fontHvBold()
    font-size 1.6em
    line-height 1.75

fontHvBold22_auto()
    fontHvBold()
    font-size 22px
    line-height 1.2

fontHvBold28_auto()
    fontHvBold()
    font-size 28px
    line-height 1.2

fontHvBold32()
    fontHvBold()
    font-size 32px
    line-height 32px

fontHvBold32_36()
    fontHvBold()
    font-size 32px
    line-height 36px



fontRoboto()
    font-family 'Roboto', sans-serif


fontRobotoBlack()
    fontRoboto()
    font-weight 900

fontRobotoBold()
    fontRoboto()
    font-weight 700

fontRobotoMedium()
    fontRoboto()
    font-weight 500

fontRobotoRegular()
    fontRoboto()
    font-weight 400


fontRobotoBold13_30()
    fontRobotoBold()
    font-size 13px
    line-height 30px

fontRobotoMedium16_24()
    fontRobotoMedium()
    font-size 16px
    line-height 24px
