// standard container padding
p--sm = 46px
p--to-sm = 15px

// border-radius value
bdrs-rndd = 3px
bdrs-crcl = 50%

// colors
c_white = #fff
c_white-transparent-05 = rgba(255, 255, 255, 0.5)
c_white-transparent-03 = rgba(255, 255, 255, 0.3)
c_white-darken = darken(c_white, 20%)
c_black = #000


c_light-font = #fdfdfd
c_medium-font = #b7b6b6
c_darken-font = #a8a8a8
c_darker-font = #1a2f2f
c_darker-2-font = #181818
c_darkest-font = #06070e

c_seo-complimentary-font = #1f3c3c


c_basic-bg = #fcf7ff
c_mute-bg = #e5e4e8
c_muted-bg = #7F7D88
c_darken-bg = #696773
c_darker-bg = #454546
c_darker-2-bg = #363441
c_darkest-bg = #29292B
c_darkest-bg-2 = #212121

c_dark-transparent-bg = rgba(0, 0, 0, 0.9)
c_black-transparent-05 = rgba(0, 0, 0, 0.5)
c_black-transparent-04 = rgba(0, 0, 0, 0.4)
c_black-transparent-03 = rgba(0, 0, 0, 0.3)

c_contrast = #ef0f54
c_contrast-darken = darken(c_contrast, 20%)
c_contrast-transparent = rgba(c_contrast, 0.9)
c_contrast-2 = #b21042
c_contrast-light = #ffbebe
c_seo-2 = #4acdcd
c_seo-3 = #178a87
c_seo-4 = darken(c_seo-2, 10%)
c_seo-5 = darken(c_seo-3, 10%)
c_seo-6 = #3db2b2
c_seo-7 = #1d5656
c_seo-8 = #1c4f4f
c_seo-9 = #51a1a1
c_seo-10 = #247272
c_seo = #79ddec
c_seo-darken = #66bbc8
c_promo-dull = #a39ebe
c_promo-dull-lighten = #b4b3b9
c_promo-dark = #2f2d38
c_promo-2 = #3d3a4b
c_btn--v8_bg = #216062
c_btn--v8_bg--hover = darken(c_btn--v8_bg, 5%)
c_btn--v8_bg--active = darken(c_btn--v8_bg, 15%)
c_btn--v9 = #c4d6d6
c_btn--v9--active = darken(#c4d6d6, 15%)
c_btn--v9_bg = #364f4f
c_btn--v9_bg--hover = darken(c_btn--v9_bg, 10%)
c_btn--v9_bg--active = darken(c_btn--v9_bg, 15%)
c_btn--v11 = c_white
c_btn--v11_bg = c_contrast
c_btn--v11_bg--hover = c_contrast-darken
c_btn--v11_bg--active = c_contrast-2



c_error-1 = c_contrast // indianred

// border colors
c_light-border = #e1e1e3
c_medium-border = #b7b6b6
c_dark-border = #78767f
c_dark-border-darken = darken(c_dark-border, 20%)
c_border_btn--v8 = #18484a
c_border_btn--v11 = #a6103e

bxsh-default = 0 0 30px rgba(0, 0, 0, 0.5)


// gutters, paddings
gutter-std = 16px
pd-std = 16px


// breakpoints
xss = 479px
xs = 767px
xs_plus_1 = 768px
sm = 867px
smm = 900px
md = 991px
lg = 1023px
xl = 1199px

xs-y = 700px // need for rimma fix


// font sizes
$base_fz = 10 // is-scalable font-size is our base_fz
