extends ../../layouts/sub/sub-2/sub-2

include ./blocks/_mixins.jade


block head
    - var pageName = 'registration';
    - var pageTitle = 'Password recovery page template';


block append links
    //- link(href='./css/page_css.css' rel='stylesheet')
    link(href='../registration/css/page_style.css' rel='stylesheet')
    link(href='./css/page_style.css' rel='stylesheet')
    //- link(href='./css/page_css.min.css' rel='stylesheet')
    //- link(href='./css/page_style.min.css' rel='stylesheet')
    
    link(href='../../assets/css/registration-temporary-fix.min.css' rel='stylesheet')

block append scripts
    //- script(src='./js/page_js.js')
    //- script(src='./js/page_js.min.js')


block append content
    article.content-registration
        h1.content-registration__title Смена<br> пароля пользователя
        form#password-recovery-form.content-registration__form.registration-form(method=POST)
            .registration-form__inner
                fieldset.registration-form__step.registration-form__step-1
                    legend.registration-form__legend(data-step-number='1') Введите пароль
                    .l-row.l-row-main-start.l-row-wrap 
                        .l-row.l-row-wrap.l-col-basis-500
                            .l-col-basis-200
                                label.registration-form__label(for='recover-user-user-password') Пароль
                            .l-col-basis-300
                                +custom_input('dark', 'password', 'recover-user-password', 'registration-form__input', 'user-password', true, false, pattern='[\\w|\\W]{6,}')
                            .l-col-basis-200
                                label.registration-form__label(for='recover-user-password-check') Подтвердите пароль
                            .l-col-basis-300
                                +custom_input('dark', 'password', 'recover-user-password-check', 'registration-form__input', 'user-password-check', true, false, pattern='[\\w|\\W]{6,}')

            button.btn.btn--v7#password-recovery-form__submit(type=submit) Восстановить

block right_side
//- обнуляем этот блок, иначе он унаследуется от sub-2.jade
