@import './helpers/_variables'
@import './helpers/_mixins'
@import './helpers/_block_mixins'

.registration-form__step-1
    margin-bottom 0

.registration-form__inner
    height auto
    min-height 7em
