@import './helpers/_variables'
@import './helpers/_mixins'
@import './helpers/_block_mixins'

// @media (max-width: lg)
//     body
//         flex-direction column

/**--------------------------------*\
 * .enter-page__content
 **
\*--------------------------------*/
/*main*/.enter-content/*.enter-page__content*/
    // position absolute
    // top 0
    // bottom 0
    position relative
    display flex
    align-items stretch
    overflow hidden
    width 100%
    margin-right 284px
    // padding-left 100px
    background-color c_darker-bg

    @media (max-width: lg)
        flex-direction: column;

/*article*/.enter-content__hotels
    width 100%
    padding-top 42px
    padding-left 67px
    padding-bottom 30px
    color c_white
    background-color c_darker-bg
    background-repeat no-repeat
    background-image url(../images/bg-hotels.jpg)
    background-position left top
    background-size auto 100%

    @media (max-width 1369px) and (min-width 1353px)  /* rimma fix */
        padding-left calc(67px - 17px)

    @media (max-width 1352px) and (min-width 1343px)  /* rimma fix */
        padding-left calc(67px - 27px)

    @media (max-width 1342px) and (min-width 1333px)  /* rimma fix */
        padding-left calc(67px - 37px)

    @media (max-width 1332px) and (min-width 1323px)  /* rimma fix */
        padding-left calc(67px - 47px)

    @media (max-width 1024px) and (min-width 1011px)  /* rimma fix */
        padding-left calc(67px - 17px)

    @media (max-width 1010px) and (min-width 1001px)  /* rimma fix */
        padding-left calc(67px - 27px)

    @media (max-width 1000px) and (min-width 991px)  /* rimma fix */
        padding-left calc(67px - 37px)

    @media (max-width 990px) and (min-width 981px)  /* rimma fix */
        padding-left calc(67px - 47px)


    @media (max-width: lg)
        border-bottom 7px solid c_seo

    @media (max-width: xs)
        padding-left 36px

.hotels-enter__header
.agents-enter__header
    display flex
    justify-content space-between
    flex-wrap wrap
    margin-bottom 66px

    &.hotels-enter__header--stretchy
    &.agents-enter__header--stretchy
        font-size 10px
        line-height 1
        margin-bottom 6.6em

        // RIMMA FIX - not implemented yet
        //
        // @media (max-width 1595px) and (min-width 1483px)
        //     font-size 9px
        //
        // @media (max-width 1482px) and (min-width 1322px)
        //     font-size 8px

    @media (max-height xs-y) and (min-width xs)
        margin-bottom 16px

        &.hotels-enter__header--stretchy
        &.agents-enter__header--stretchy
            margin-bottom 1.6em

    @media (max-width: xs)
        width 100%
        padding-right 40px

.hotels-enter__header > div:nth-child(2)
.agents-enter__header > div:nth-child(2)
    // padding-left 20px
    margin-top 20px

.hotels-enter__header
    width 55%
    min-width 522px

.hotels-enter__header--ru-fix
    @media (min-width 1594px)
        min-width 651px

.agents-enter__header
    width 45%
    min-width 500px

.agents-enter__header--eng-fix
    @media (max-width 1499px) and (min-width 1024px)
        min-width 456px

    @media (max-width 1498px) and (min-width 1483px)
        width 44%


/*h1*/.hotels-enter__for-hotels
/*h1*/.hotels-enter__for-representatives
/*h1*/.agents-enter__for-agents
/*h1*/.agents-enter__for-operators
    margin 0
    fontHvBold32()
    color c_white
    text-transform uppercase

    .hotels-enter__header--stretchy &
    .agents-enter__header--stretchy &
        font-size 3.2em
        line-height 1

.hotels-enter__for-representatives
    padding-right 20px

    .hotels-enter__header--stretchy &
        padding-right 2em

    @media (max-width: 1140px)
        max-width 400px

        .hotels-enter__header--stretchy &
            max-width 40em

    @media (max-width: xs)
        max-width none

    @media (max-width: xss)
        max-width 400px

        .hotels-enter__header--stretchy &
            max-width 40em

.agents-enter__for-operators
    @media (max-width: 1140px)
        max-width 285px

        .agents-enter__header--stretchy &
            max-width 28.5em

    @media (max-width: xs)
        max-width none

    @media (max-width: xss)
        max-width 285px

        .agents-enter__header--stretchy &
            max-width 28.5em

/*h1*/.hotels-enter__for-hotels
/*h1*/.agents-enter__for-agents
    margin-bottom 20px

.hotels-enter__header--stretchy .hotels-enter__for-hotels
.agents-enter__header--stretchy .agents-enter__for-agents
    margin-bottom .625em

.for-hotels__info
.for-agents__info
    display inline-block
    margin-left 24px
    fontHvLight12_auto()
    color c_darken-font
    text-transform lowercase

.for-hotels__info
    width 21%

.for-agents__info
    width 23%

/*article*/.enter-content__agents
    width 100%
    padding-top 42px
    padding-left 67px
    padding-bottom 30px
    color c_white
    background-color c_darkest-bg
    background-repeat no-repeat
    background-image url(../images/bg-agents.jpg)
    background-position left top
    background-size auto 100%

    @media (max-width 1369px) and (min-width 1353px)  /* rimma fix */
        padding-left calc(67px - 17px)

    @media (max-width 1352px) and (min-width 1343px)  /* rimma fix */
        padding-left calc(67px - 27px)

    @media (max-width 1342px) and (min-width 1333px)  /* rimma fix */
        padding-left calc(67px - 37px)

    @media (max-width 1332px) and (min-width 1323px)  /* rimma fix */
        padding-left calc(67px - 47px)

    @media (max-width 1024px) and (min-width 1011px)  /* rimma fix */
        padding-left calc(67px - 17px)

    @media (max-width 1010px) and (min-width 1001px)  /* rimma fix */
        padding-left calc(67px - 27px)

    @media (max-width 1000px) and (min-width 991px)  /* rimma fix */
        padding-left calc(67px - 37px)

    @media (max-width 990px) and (min-width 981px)  /* rimma fix */
        padding-left calc(67px - 47px)

    @media (max-width: lg)
        border-bottom 7px solid c_seo

    @media (max-width: xs)
        padding-left 36px

.enter-content--movable
    position absolute
    z-index 10
    top 0
    bottom 0
    left 62% // left 55%
    transition left 1s

    @media (max-width: lg)
        position relative
        top auto
        bottom auto
        left auto
        width 100%

    &:hover
        left 25%

        @media (max-width: lg)
            left 0

.features-list
    // width 699px
    // width 48.5%
    width 62%
    padding 0
    margin 0
    list-style-type none
    font-size 10px

    @media (max-width 1595px) and (min-width 1322px)
        font-size 9px

    @media (max-width 1482px) and (min-width 1322px)
        font-size 8px

    // @media (max-width 1369px) and (min-width 1258px)
    //     font-size 7px

    @media (max-width 1219px) and (min-width 1070px)
        font-size 9px

    @media (max-width 1144px) and (min-width 1070px)
        font-size 8px

    @media (max-width 1024px) and (min-width 981px)
        font-size 8px

    // @media (max-width 1024px) and (min-width 958px)
    //     font-size 7px

    @media (max-width 933px) and (min-width 841px)
        font-size 9px

    @media (max-width 887px) and (min-width 841px)
        font-size 8px

    @media (max-width 751px) and (min-width 613px)
        font-size 9px

    @media (max-width 682px) and (min-width 613px)
        font-size 8px

    // @media (max-width 612px) and (min-width 543px)
    //     font-size 7px

    @media (max-width: lg)
        width 100%

.features-list__item
    flex-basis 233px
    max-width 233px
    // padding-top 88px
    padding-top 115px
    padding-left 32px
    padding-right 32px
    box-sizing border-box
    min-height 184px
    background-repeat no-repeat
    background-position 30px 20px

    // &:nth-child(-n+3)
    //     background-position 30px 0px
    //     padding-top 88px
    //
    //     @media (max-width: 1908px)
    //         padding-top 115px
    //         background-position 30px 20px

    > h2
        margin 0
        fontHvBold15_22()

        & > .smaller-title
            fontHvLight15_22()

.features-list__item--stretchy
    flex-basis 23.3em
    max-width 23.3em
    padding-top 11.5em
    padding-left 3.2em
    padding-right 3.2em
    min-height 18.4em
    background-position 3em 2em

    > h2
        fontHvBold15_22em()

        & > .smaller-title
            font-size 1em
            line-height 1em

.features-list__item--marked.features-list__item--marked /* хак - чтобы не наследовать padding-top 88px*/
    padding-top 14px
    padding-right 27px
    padding-bottom 18px
    padding-left 27px
    border 7px solid c_seo

    > h2
        margin 0
        fontHvBold16_28()

    > span
        fontHvLight14_28()
        text-transform lowercase

    &.features-list__item--stretchy
        padding-top 1.4em
        padding-right 2.7em
        padding-bottom 1.8em
        padding-left 2.7em
        border-width .7em

        > h2
            fontHvBold16_28em()

        > span
            fontHvLight14_28em()

.features-list__item--tourist-services
    background-image url(../images/bg-tourist-services.png)
    background-size 54px 64px

    &.features-list__item--stretchy
        background-size 5.4em 6.4em


.features-list__item--hotel-page
    background-image url(../images/bg-hotel-page.png)
    background-size 78px 64px

    &.features-list__item--stretchy
        background-size 7.8em 6.4em

.features-list__item--online-booking
    background-image url(../images/bg-share-services.png)
    background-size 45px 68px

    &.features-list__item--stretchy
        background-size 4.5em 6.8em

.features-list__item--prices-spo
    background-image url(../images/bg-prices-spo.png)
    background-size 77px 66px

    &.features-list__item--stretchy
        background-size 7.7em 6.6em

.features-list__item--news
    background-image url(../images/bg-news-social.png)
    background-size 79px 79px

    &.features-list__item--stretchy
        background-size 7.9em 7.9em

.features-list__item-company-profile
    background-image url(../images/bg-profile.png)
    background-size 72px 57px

    &.features-list__item--stretchy
        background-size 7.2em 5.7em

.features-list__item--hotel-replies
    background-image url(../images/bg-replies.png)
    background-size 72px 57px

    &.features-list__item--stretchy
        background-size 7.2em 5.7em

.features-list__item--events-calendar
    background-image url(../images/bg-calend.png)
    background-size 78px 79px

    &.features-list__item--stretchy
        background-size 7.8em 7.9em

.features-list__item--share-services
    background-image url(../images/bg-tourist-services.png)
    background-size 54px 64px

    &.features-list__item--stretchy
        background-size 5.4em 6.4em

.features-list__item--tours-excursions
    background-image url(../images/bg-tours-excursions.png)
    background-size 79px 59px

    &.features-list__item--stretchy
        background-size 7.9em 5.9em

.features-list__item--statistics-fincenters
    background-image url(../images/bg-stat.png)
    background-size 64px 64px

    &.features-list__item--stretchy
        background-size 6.4em 6.4em


/**--------------------------------*\
 * .enter-page__additional-info
 **
\*--------------------------------*/
.enter-page__additional-info
    // position absolute
    // z-index 20
    // right 0
    // top 0
    // bottom 0
    // position relative
    position fixed
    top 0
    right 0
    bottom 0
    margin-top auto
    margin-bottom auto
    z-index 20
    width 284px
    min-width 284px
    color c_white
    background-color c_darken-bg
    box-shadow bxsh-default

    @media (max-width: xs)
        position relative
        width 100%

/*h2*/.info-additional__header
    min-height 327px
    padding-top 196px
    padding-left 34px
    padding-right 33px
    margin 0
    fontHvMedium18_24()
    color c_white
    background-color c_darken-bg
    background-image url(../images/bg-info.png)
    background-repeat no-repeat
    background-position center 68px
    background-size 105px 105px
    text-align center

    @media (max-height xs-y) and (min-width xs)
        min-height calc(327px - 60px)
        padding-top calc(196px - 60px)
        background-position center calc(68px - 45px)

.info-additional__promo-banner
    position relative
    min-height 100px
    padding-top 18px
    padding-right 54px
    padding-left 54px
    fontHvRoman14_20()
    color c_white
    background-color c_contrast
    text-align center

    @media (max-width: xs) and (min-width: xss)
        padding-top 37px

    &::before
        position absolute
        top 15px
        left 23px
        display block
        fontHvThin60()
        color c_white-transparent-03
        content '{'

    &::after
        position absolute
        top 15px
        right 23px
        display block
        fontHvThin60()
        color c_white-transparent-03
        content '}'

/*ul*/.info-additional__for-clients
    margin 0
    padding 0
    list-style-type none
    background-color c_darker-2-bg

/*li*/.for-clients__item
    position relative

/*a*/.for-clients__link
    position relative
    z-index 20
    display block
    padding-top 14px
    padding-bottom 14px
    padding-left 58px
    fontHvLight16_24()
    color c_promo-dull
    background-color c_darker-2-bg
    box-shadow inset 0 2px 5px rgba(0, 0, 0, .28)
    transition background-color .4s, color .4s

    &:hover
    &:focus
        color c_white
        background-color c_promo-dark
        text-decoration none

    &:active
        color c_white-darken
        background-color c_promo-dark
        text-decoration none

    &:hover + .for-clients__tooltip
        right 300px
        opacity 1

        @media (max-width: xs)
            // top -45px
            left 48px
            right auto
            z-index 30


.for-clients__tooltip
    position absolute
    right -400px
    top 0
    min-height 52px
    min-width 275px
    padding-top 9px
    padding-right 20px
    padding-bottom 9px
    padding-left 20px
    border-radius 3px
    fontHvRoman14_16()
    color c_white
    background-color c_contrast-transparent
    box-shadow 0 0 5px rgba(0, 0, 0, .75)
    transition right .4s, opacity .4s
    opacity 0

    @media (max-width: xs)
        top auto
        bottom 45px
        left 2000px
        transition left .4s, opacity .4s

    &::after
        position absolute
        right -18px
        // top 0
        // bottom 0
        top 17px
        margin auto
        width 0
        height 0
        border 10px solid transparent
        border-left 8px solid c_contrast-transparent
        content ''

        @media (max-width: xs)
            display none
