@import 'helpers/_variables'
@import 'helpers/_block_mixins'

.dropdown-simple
    position relative
    display inline-block

.dropdown-simple__open  // input[type=checkbox]
    display none

@keyframes closedDropdownCaretShake
    0%, 100% { transform: translateX(0); }
    33% { transform: translateX(4px); }
    66% { transform: translateX(-4px); }

@keyframes openedDropdownCaretShake
    // 0%, 100% { transform: translateX(0) rotateZ(180deg); }
    // 33% { transform: translateX(4px) rotateZ(180deg); }
    // 66% { transform: translateX(-4px) rotateZ(180deg); }

.dropdown-simple--type--1
    //

.dropdown-simple--type--2
    //

.dropdown-simple--align--right
    //

.dropdown-simple__button  // label
    fontHvMedium12_26()
    position relative
    z-index 2
    box-sizing border-box
    display block
    margin-bottom 0
    color $c_white
    background-color $c_dull
    cursor pointer
    outline none

    .dropdown-simple--type--1 &
        padding-top 10px
        padding-right 27px
        padding-bottom 10px
        padding-left 10px

    .dropdown-simple--type--2 &
        padding-top 1px
        padding-left 12px
        padding-right 22px
        text-transform uppercase

    &::after
        position absolute
        width 0
        height 0
        border-style solid
        transform-origin 50% 50%
        transform rotateZ(0deg)
        transition transform 0.4s ease, border-color 0.4s ease
        content ''

        .dropdown-simple--type--1 &
            top 23px
            right 26px
            border-width 6px 4px 0 4px
            border-color $c_dull-lightened transparent transparent transparent

        .dropdown-simple--type--2 &
            top 12px
            right 10px
            border-width 5px 3.5px 0 3.5px
            border-color $c_dull transparent transparent transparent

        .dropdown-simple__open:checked ~ &
            transform rotateZ(180deg)

    &:hover
    &:focus
        &::after
            animation closedDropdownCaretShake 0.4s ease-out

            .dropdown-simple--type--1 &
                border-color $c_white transparent transparent transparent

            .dropdown-simple--type--2 &
                border-color $c_dull-darkened-02 transparent transparent transparent

        .dropdown-social__open:checked ~ &::after
            animation openedDropdownCaretShake 0.4s ease-out

    .dropdown-simple--type--1 &
        color $c_white
        background-color $c_dull

    .dropdown-simple--type--2 &
        border 1px solid $c_dull
        color $c_dull
        background-color transparent

.dropdown-simple__active-item  // span
    //

    .dropdown-simple--type--1 &
        fontHvMedium16_30()

    .dropdown-simple--type--2 &
        fontHvMedium12_26()

.dropdown-simple__list  // ul
    position absolute
    z-index 1
    min-width 100%
    padding 0
    margin 0
    opacity 0
    color $c_white
    background-color $c_dull-darkened

    .dropdown-simple--type--1 &
        top -180px
        transition top 0.4s ease-in, opacity 0.4s ease-in

    .dropdown-simple--type--2 &
        top 0
        overflow hidden
        height 0
        transition top 0.4s ease-in, opacity 0.4s ease-in, height 0.4s ease

    .dropdown-simple--align--right &
        right 0

    .dropdown-simple__open:checked ~ &
        top 100%
        bottom auto
        opacity 1

        .dropdown-simple--type--1 &
            //

        .dropdown-simple--type--2 &
            height (3*34px)

.dropdown-simple__list-item  // li
    list-style none

.dropdown-simple__link  // a
    fontHvMedium14_30()
    box-sizing border-box
    display block
    padding-top 2px
    padding-right 5px
    padding-bottom 2px
    padding-left 5px
    color $c_white
    outline none
    cursor pointer
    text-decoration none
    transition color 0.4s ease, background-color 0.4s ease

    .dropdown-simple--type--1 &
        padding-left 21px
        padding-right 20px

    .dropdown-simple--type--2 &
        padding-left 15px
        padding-right 10px

    &:hover
    &:focus
        color $c_white
        background-color $c_dull-darker
        text-decoration none

    &:active
        color $c_white-transparent-03
        background-color $c_dull-darkest
