@import 'helpers/_variables'
@import 'helpers/_block_mixins'

.dropdown-social
    position relative
    background-color #578789

.dropdown-social__button
    position relative
    z-index 2
    cursor pointer
    color #fff
    background-color #578789

.dropdown-social__inner-list
    //

.dropdown-social__inner-item
    //

.dropdown-social__inner-item--vk
.dropdown-social__inner-item--fb
.dropdown-social__inner-item--inst
    //

.dropdown-social__inner-item--vk
    //

.dropdown-social__inner-item--fb
    //

.dropdown-social__inner-item--inst
    //

.dropdown-social__state-indicator
    //

.dropdown-social__open
    display none

/*ul*/.dropdown-social__submenu
    position absolute
    top -200%
    z-index 0
    padding 0
    margin 0
    opacity 0
    color $c_white
    background-color $c_dull-darkened
    transition top .4s ease-in, opacity .4s ease-in

.dropdown-social__submenu--centered
    //

/*li*/.dropdown-social__submenu-item
    list-style none
    background-color $c_dull-darkened

/*a*/.dropdown-social__submenu-link
    fontHvRoman14_30()
    color $c_white
    text-decoration none
    transition color 0.4s ease, background-color 0.4s ease

    &:hover
    &:focus
        background-color $c_dull-darker
    
    &:active
        background-color $c_dull-darkest

.dropdown-social__open:checked + .dropdown-social__submenu
    bottom auto
    top 100%
    opacity 1
