@import 'helpers/_variables'
@import 'helpers/_block_mixins'


.slider
    //

.slider--type--1
    //

.slider__promo-text

    .slider--type--1 &
        fontHvBold40_48()
        color $c_white

.slider__description

    .slider--type--1 &
        fontHvLight24_30()
        color $c_white

.slider__additional-info

    .slider--type--1 &
        fontHvBold14_18()
        color $c_dull
        background-color $c_white-transparent-063