extends ../../layouts/sub/sub-3/sub-3.jade

include ./blocks/_mixins.jade


block append head
    - var pageName = 'news-repost';
    - var pageTitle = 'News repost page template';


block append links
    link(href='./css/page_css.css' rel='stylesheet')
    link(href='./css/page_style.css' rel='stylesheet')
    //- link(href='./css/page_css.min.css' rel='stylesheet')
    //- link(href='./css/page_style.min.css' rel='stylesheet')


block append scripts
    script(src='./js/page_js.js')
    //- script(src='./js/page_js.min.js')


block append content
    article.news-repost-content
