@import './helpers/_variables'
@import './helpers/_mixins'
@import './helpers/_block_mixins'
@import './helpers/_placeholders'


$left_offset_base = 35px
$left_offset_small = 20px

$right_offset_base = 20px

.news-list  // main.uh-inner-page__main
    background-color $c_creme

.news-list-content  // section.uh-inner-page__content
    // padding-left 72px
    padding-bottom 21px

.news-list-content__slider
    position relative
    z-index 3

.news-list-content__nav
    position relative
    z-index 2

.news-list-content__filters
    position relative
    z-index 1

.news-list-content__news
    padding-left $left_offset_base
    padding-right $right_offset_base
    padding-bottom 52px
    text-align center
    background-color $c_creme

    @media (max-width $xsm)
        padding-left $left_offset_small

.news-list-content__news-load-button
    //




.page-nav
    position relative
    z-index 3
    width 72px
    min-width 72px
    flex-basis 72px
    box-shadow 9px 0 36px 0 rgba(0, 0, 0, 0.2)


    @media (min-width $xsm+1)
        &::after  // заглушка для того, чтобы togglable-panel не перекрывали .page-nav под кнопками меню
            position absolute
            z-index 1
            width 100%
            height 100%
            background-color $c_white
            content ''

    @media (max-width $xsm)
        min-width 100%
        min-height 79px
        flex-basis 100%

.page-nav__menu  // ul
    position relative
    z-index 1
    padding 0
    margin 0
    background-color $c_white

    @media (max-width $xsm)
        display flex
        flex-wrap wrap

.page-nav__menu--fixed
    @media (min-width $xsm + 1px)
        position fixed
        top 0
        z-index 10
        width 72px

    &::before
        background-color $c_white
        content ''

        @media (min-width 1384px + 1px)
            position fixed
            left 0
            top 0
            bottom 0
            width calc((100% - 1366px)/2)
            box-shadow -3px 0 19px -9px rgba(0,0,0,0.5) inset

    &::after
        position absolute
        z-index 11
        width 100%
        height 100%
        background-color $c_white
        content ''

.page-nav__menu-item  // li
    list-style none

    @media (max-width $xsm)
        // flex-basis 81px
        flex-basis 73px
        flex-grow 1

    @media (max-width $xsms)
        flex-basis 57px

    @media (max-width $xxs)
        flex-basis 48px

    @media (max-width $xxxs)
        flex-basis 43px

.page-nav__menu-link  // a
    position relative
    z-index 1
    box-sizing border-box
    display block
    min-height 57px
    border-bottom 1px solid $c_light
    color $c_dark-6
    background-color $c_white
    cursor pointer
    outline none
    text-decoration none
    transition color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease

    @media (max-width $xsm)
        min-height 65px
        max-height 65px
        border-bottom none
        border-top 1px solid $c_light

    &:hover
    &:focus
        text-decoration none
        color $c_dark-6
        background-color $c_light-2

    &:active
        color $c_white
        background-color $c_bright-dark
        border-bottom-color $c_bright-dark

    &::before
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        margin auto
        text-align center
        background-repeat no-repeat
        background-size contain
        background-position center
        text-decoration none
        transition background-image 0.4s ease
        content ''

    .page-nav__menu-item:first-of-type &
        border-top 1px solid $c_light

        &:active
            border-top-color $c_bright-dark

.page-nav__menu-link--active
    color $c_white
    background-color $c_bright
    border-bottom-color $c_bright
    // cursor default

    &:hover
    &:focus
        color $c_white
        background-color $c_bright-dark
        border-bottom-color $c_bright-dark

    &:active
        background-color $c_bright-dark
        border-bottom-color $c_bright-dark
        border-top-color $c_bright-dark

    @media (max-width $xsm)
        border-bottom-color transparent
        border-top-color $c_bright

        &:hover
        &:focus
            border-bottom-color $c_bright-dark

        &:active
            border-bottom-color transparent
            border-top-color $c_bright-dark

.page-nav__menu-link--filter-reset
    height 77px

    &::before
        width 25px
        height 25px
        background-image url(../images/bg-page-nav-filter-reset.png)

    &:active::before
    &.page-nav__menu-link--active::before
        background-image url(../images/bg-page-nav-filter-reset--active.png)

.page-nav__menu-link--hotels
    height 68px

    &::before
        width 32px
        height 35px
        background-image url(../images/bg-page-nav-filter-hotels.svg)

    &:active::before
    &.page-nav__menu-link--active::before
        background-image url(../images/bg-page-nav-filter-hotels--active.svg)


.page-nav__menu-link--aircompanies
    height 66px

    &::before
        @extend $$icomoon-additional
        top 14px
        font-size 50px
        content $ima_plane

.page-nav__menu-link--tourism-boards
    height 68px

    &::before
        @extend $$icomoon-additional
        top 14px
        right 3px
        font-size 40px
        content $ima_travel-list

.page-nav__menu-link--tour-operators
    height 65px

    &::before
        @extend $$icomoon-additional
        top 14px
        font-size 40px
        content $ima_island

.page-nav__menu-link--medical-tourism
    height 58px

    &::before
        @extend $$icomoon-additional
        top 12px
        font-size 40px
        content $ima_heart

.page-nav__menu-link--cultural-sites
    height 64px

    &::before
        @extend $$icomoon-additional
        top 14px
        font-size 40px
        content $ima_masks

.page-nav__menu-link--service-companies
    height 63px

    &::before
        @extend $$icomoon-additional
        top 2px
        font-size 60px
        content $ima_helicopter

.page-nav__menu-link--video-reviews
    height 63px

    &::before
        width 30px
        height 29px
        background-image url(../images/bg-page-nav-video-reviews.png)

    &:active::before
    &.page-nav__menu-link--active::before
        background-image url(../images/bg-page-nav-video-reviews--active.png)

.page-nav__menu-link--exhibitions-events
    height 63px

    &::before
        width 30px
        height 29px
        background-image url(../images/bg-page-nav-exhibitions-events.png)

    &:active::before
    &.page-nav__menu-link--active::before
        background-image url(../images/bg-page-nav-exhibitions-events--active.png)

.page-nav__menu-link--mass-media-pr
    height 63px

    &::before
        width 30px
        height 29px
        background-image url(../images/bg-page-nav-mass-media-pr.png)

    &:active::before
    &.page-nav__menu-link--active::before
        background-image url(../images/bg-page-nav-mass-media-pr--active.png)

.page-nav__menu-link--shops-restaurants
    height 63px

    &::before
        width 30px
        height 29px
        background-image url(../images/bg-page-nav-shops-restaurants.png)

    &:active::before
    &.page-nav__menu-link--active::before
        background-image url(../images/bg-page-nav-shops-restaurants--active.png)

.page-nav__menu-link--photo-reviews
    height 63px

    &::before
        width 30px
        height 29px
        background-image url(../images/bg-page-nav-photo-reviews.png)

    &:active::before
    &.page-nav__menu-link--active::before
        background-image url(../images/bg-page-nav-photo-reviews--active.png)


.page-nav__togglable-panel
    position absolute
    z-index -1
    top 0
    left (72px - 245px)
    box-sizing border-box
    height 100vh
    min-height 100%
    width 245px
    padding-top 30px
    padding-bottom 30px
    background-color $c_black-transparent-09
    opacity 0
    transition left 0.4s ease, opacity 0.4s ease, right 0.4s ease

    @media (max-width $xsm)
        top 100%
        // top -100vh
        left auto
        right 100%
        width 100%
        height auto
        transition right 0.4s ease, opacity 0.4s ease

    // @media (max-width $xss)
    //     width calc(100vw - 72px - 16px)
    //     +ie-10-11-only()
    //         width calc(100vw - 72px)

.page-nav__togglable-panel--open
    left 72px
    opacity 1

    @media (max-width $xsm)
        left auto
        right 0

    // @media (max-width $xss)
    //     left 0

    .page-nav__menu--fixed &
        position fixed

        @media (min-width 1384px + 1px)
            left calc((100% - 1366px) / 2 + 72px)


.page-nav__togglable-panel-title  // h
    fontHvRoman24_auto()
    margin-top 0
    margin-bottom 30px
    padding-left 33px
    padding-right 15px
    color $c_bright

.page-nav__submenu  // ul
    padding 0
    margin 0

.page-nav__submenu-item  // li
    list-style none

.page-nav__submenu-link  // a
    fontHvRoman15_30()
    display block
    padding-left 33px
    padding-right 15px
    color $c_white
    text-decoration none
    outline none
    transition color 0.4s ease, background-color 0.4s ease

    &:hover
    &:focus
        color $c_white
        background-color $c_dark-2
        text-decoration none

    &:active
        color $c_light-3

.page-nav__submenu-link--active
    color $c_light-6
    cursor default

    &:hover
    &:focus
        color $c_light-6
        background-color transparent

    &:active
        color $c_light-6



.news-nav  // section.news-list-content__nav
    box-sizing border-box
    display flex
    flex-wrap wrap
    justify-content flex-end
    align-items center
    // max-width 1080px
    min-height 50px
    // padding-left $left_offset_base
    background-color $c_dull

    // > *
    //     flex-grow 1

.news-nav__add-news  // a
    fontHvMedium18_30()
    position relative
    z-index 2
    box-sizing border-box
    flex-grow 0
    padding-top 10px
    padding-right 24px
    padding-bottom 10px
    padding-left 42px
    border-right 1px solid $c_dull-other // $c_white-transparent-018
    color $c_white
    background-color $c_dull
    // text-align right
    text-decoration none
    outline none
    transition color 0.4s ease, background-color 0.4s ease

    &::before
        position absolute
        left 10px
        top 50%
        transform translateY(-50%)
        width 22px
        height 22px
        background-repeat no-repeat
        background-position center
        background-image url(../images/bg-news-nav-add-button-plus-icon.svg)
        transition opacity 0.4s ease, transform 0.4s ease
        content ''

    &:hover
    &:focus
        color $c_white
        background-color $c_dull-darkened-02
        text-decoration none

        &::before
            transform translateY(-50%) rotate(270deg)

    &:active
        color $c_white-transparent-03
        background-color $c_dull-darker

        &::before
            opacity 0.5
            transform translateY(-50%) rotate(-450deg)

.news-nav__menu  // ul
    position relative
    z-index 2
    flex-grow 1
    box-sizing border-box
    display flex
    // flex-wrap wrap
    justify-content space-around
    list-style-type none
    max-width 515px
    padding 0
    margin 0
    background-color $c_dull

    @media (max-width $xxs)
        flex-wrap wrap

.news-nav__menu-item  // li
    flex-grow 1

.news-nav__menu-link  // a
    fontHvMedium16_30()
    display block
    padding-top 11px
    padding-right 10px
    padding-bottom 9px
    padding-left 10px
    color $c_white
    text-align center
    text-decoration none
    outline none
    transition color 0.4s ease, background-color 0.4s ease

    &:hover
    &:focus
        color $c_white
        background-color $c_dull-darkened-02
        text-decoration none

    &:active
        color $c_white-transparent-03
        background-color $c_dull-darker

.news-nav__dropdowns
    box-sizing: border-box
    display flex
    justify-content flex-end
    align-items center
    flex-basis 294px

.news-nav__dropdown-social-menu
    flex-grow 1
    flex-basis 142px
    box-sizing border-box
    max-width 142px

.news-nav__country-selection
    flex-grow 1
    flex-basis 152px
    box-sizing border-box
    max-width 152px
    // border-left 1px solid $c_dull-other // $c_white-transparent-02

    .dropdown-simple__button
        border-left 1px solid $c_dull-other


.news-filters  // section.news-list-content__filters
    //

.news-filters__top
    position relative
    box-sizing border-box
    overflow hidden
    min-height 86px
    padding-top 41px
    // padding-right $right_offset_base
    padding-bottom 13px
    padding-left $left_offset_base
    background-color $c_white

    @media (max-width $xsm)
        padding-left $left_offset_small

.news-filters__bottom
    display flex
    justify-content space-between
    flex-wrap wrap
    position relative
    padding-top 26px
    padding-right $right_offset_base
    padding-bottom calc(34px - 10px)  // subtract bottom margin of inner .filters-lis__items of .news-filters__categories
    padding-left $left_offset_base
    background-color $c_creme

    @media (max-width $xsm)
        padding-left $left_offset_small


// mix
.filters-list  // ul
    // height 32px
    padding 0

.filters-list--theme--dull
    //

.filters-list--theme--bright
    //

.filters-list__item  // li
    list-style none
    display inline-block
    // margin-right 24px


.filters-list__item--active
    margin-right 12px
    border-width 1px
    border-style solid
    cursor default

    .filters-list--theme--dull &
        border-color $c_dull-light

    .filters-list--theme--bright &
        border-color $c_bright

.filters-list__filter  // a
    fontHvRoman14_30()
    display block
    padding-left 12px
    padding-right 12px
    text-decoration none
    text-transform uppercase
    cursor pointer
    outline none
    transition color 0.4s ease

    .filters-list--theme--dull &
        color $c_dull-dark

        &:hover
        &:focus
            color $c_dull-darker
            text-decoration none

        &:active
            color $c_dull-darkest

    .filters-list--theme--bright &
        color $c_bright

        &:hover
        &:focus
            color $c_bright-dark
            text-decoration none

        &:active
            color $c_bright-darkened

    .filters-list__item--active &
        fontHvMedium14_30()
        padding-left 17px
        padding-right 17px
        cursor default

        .filters-list--theme--dull &
            &:hover
            &:focus
            &:active
                color $c_dull-dark

        .filters-list--theme--bright &
            &:hover
            &:focus
            &:active
                color $c_bright


// end of mix


.news-filters__popular-countries  // ul.filters-list
    margin-top 0
    margin-bottom 0

.news-filters__categories  // ul.filters-list
    margin-top 0
    margin-bottom 0
    flex-basis 483px
    // min-width 483px
    max-width 483px

    li // .filters-list__item
        margin-bottom 10px

.news-filters__controls  // ul
    padding 0
    margin-top 0
    margin-bottom 0

    .news-filters__top &
        position absolute
        top 41px
        margin-right -5px
        margin-left -5px

    .news-filters__bottom &
        flex-basis 223px
        text-align center
        // position absolute
        // top 28px
        // right $right_offset_base
        // overflow hidden
        // padding-bottom 100vh

// .news-filters__controls-item  // li
//     list-style none
//     display inline-block
//     vertical-align top
//     padding-right 5px
//     padding-left 5px

// .news-filters__button
//     fontHvRoman14()
//     width 30px
//     height 32px
//     border 1px solid $c_light-3
//     border-radius 3px
//     cursor pointer
//     color $c_dull-dark
//     background-color $c_white

// .news-filters__button--to-left  // button
//     //

// .news-filters__button--to-right  // button
//     //




.news-controls  // .news-filters__controls
    //

.news-controls__languages  // .dropdown-simple
    vertical-align middle
    margin-right 10px

    .dropdown-simple__button
        background-color $c_creme

.news-controls__languages-list  // ul
    //

.news-controls__add-news  // a
    vertical-align middle




.news  // ul.condensed-list
    margin-bottom 20px
