extends ../<SUB_FOLDER>/<SUB_FILE>

include ./blocks/_mixins.jade


//- Example:
//-
//- block append links
//-     link(href='./css/sub<DEPTH_LEVEL>_style.css' rel='stylesheet')
//-
//-
//- block append scripts
//-     script(src='./js/sub<DEPTH_LEVEL>_js.js')
