@import './helpers/_variables'
@import './helpers/_block_mixins'
@import './helpers/_mixins'

// Пока решил что стили и скрипты компонентов будут добавляться не
// в финальный CSS а отдельными файлами(в идеале) а пока - инклудится в базу.
// @import '../../../base/base-2/styles/components/_custom_label'


/**--------------------------------*\
 * .external-page__navigation
 **
\*--------------------------------*/
.external-page__navigation/*.nav-external*/
    // position absolute
    // z-index 10
    // left 0
    // top 0
    // bottom 0
    position relative
    //z-index 10
    z-index 40
    display flex
    min-height 100vh
    width 100px
    min-width 100px
    color c_darkest-font
    background-color c_basic-bg
    box-shadow bxsh-default

    @media (max-width: xs)
        width 100%
        min-height 80px
        height 80px

.nav-external--fixed
    position fixed

.nav-external--fixed + main
    @media (max-width: xs)
        margin-top 80px

.nav-external__list
    position fixed
    display flex
    flex-direction column
    width 100px
    height 100vh
    padding 0
    margin 0
    list-style-type none

    @media (max-width: xs)
        position static
        width 100% /**/
        height auto
        flex-direction row


/*li*/.nav-external__item
    position relative

    @media (max-width: xs)
        width 20%

.nav-external__item--special
    flex-grow 1
    position relative
    z-index 20
    background-color c_basic-bg

    @media (max-width: xs)
        flex-grow 0

/*a*/.nav-external__link
    position relative
    z-index 20
    display block
    height 100px
    text-decoration none
    cursor pointer
    transition color .4s, background-color .4s

    &:focus
        box-shadow none
        outline none
        background-color c_mute-bg

    @media (max-width: xs)
        height 80px


/* languages block *\
\*-----------------*/

.nav-external__link--lang-selection
    fontHvMedium18_30()
    padding-top 36px
    padding-right 10px
    text-align center
    text-transform uppercase
    color c_darkest-font
    background-color c_basic-bg

    @media (max-width: xs)
        padding-top 28px
        padding-right 0

    &:hover
    &:focus
        color c_contrast

    // &:hover ~ .lang-selection__form > .lang-selection__popup-1
    // &:focus ~ .lang-selection__form > .lang-selection__popup-1
    // &.is-active ~ .lang-selection__form > .lang-selection__popup-1
    //     left 100px
    //
    //     @media (max-width: xs)
    //         left 0
    //         top 80px

    // &:focus ~ .lang-selection__popup-2
    //     visibility visible
    //     opacity 1

    &::before
        position absolute
        top 0
        bottom 0
        right 20px
        margin-top auto
        margin-bottom auto
        width 6px
        height 10px
        background-repeat no-repeat
        background-image url(../images/i-language-chevron-right.png)
        content ''

        @media (max-width: xs)
            top auto
            bottom 10px
            left 0
            right 0
            margin-left auto
            margin-right auto
            transform rotate(90deg)

/*form*/.lang-selection__form
    display block

/*ul*/.lang-selection__popup-1/*.lang-selection*/
    position absolute
    top 0
    left -600px
    display flex
    min-height 100px
    padding 0
    margin 0
    list-style-type none
    color c_white
    background-color c_darken-bg
    transition left .4s ease-in

    // &:hover
    // &:focus
    &.is-active
        left 100px

    @media (max-width: xs)
        left 0
        top -100px
        min-height 80px
        transition top .4s ease-in

        // &:hover
        // &:focus
        &.is-active
            left 0
            top 80px

.lang-selection__item
    width 100px
    min-width 100px /* IE11 fix */

    &:nth-of-type(odd) > .lang-selection__link
        background-color c_darken-bg

    &:nth-of-type(even) > .lang-selection__link
        background-color c_muted-bg

.lang-selection__link
    fontHvMedium18_30()
    display block
    min-height 100px
    padding-top 36px
    text-align center
    text-transform uppercase
    color c_white
    transition color .4s

    &:hover
    &:focus
        color c_contrast

/*ul*/.lang-selection__popup-2/*.languages*/
    position absolute
    left 100px
    top 0
    display block
    width 200px
    padding 0
    margin 0
    visibility hidden
    list-style-type none
    opacity 0
    color c_darken-bg
    background-color c_white
    transition opacity .4s ease-in

    @media (max-width: xs)
        left 0
        top 80px

.languages__item
    font-size 14px
    line-height 39px
    padding-left 12px
    padding-right 12px
    border-bottom 1px solid c_light-border

.languages__link
    color c_darken-bg
    background-color c_white


/* logo block *\
\*------------*/


.nav-external__link--logo-uh
    padding-top 22px

.nav-external__link--logo-ut
    padding-top 18px

.nav-external__link--logo
    color #fff
    background-color c_contrast

    &:hover ~ .logo__popup
    &:focus ~ .logo__popup
    // & ~ .logo__popup.is-active
        left 100px

    &:focus
        box-shadow none
        outline none
        background-color c_contrast-darken

    @media (max-width: xs)
        padding-top 0

        &:hover ~ .logo__popup
        &:focus ~ .logo__popup
        // & ~ .logo__popup.is-active
            left -100%
            top 80px


/*img*/.logo--white-small
    width 80px
    margin: 0 auto;

    @media (max-width: xs)
        height 81px
        margin auto
        padding-left 5px
        padding-right 5px

.logo__popup
    position absolute
    left -600px
    top 0
    z-index 15
    display block
    width 330px
    padding 20px 33px
    fontHvBold14_20()
    text-transform uppercase
    color c_seo-darken
    background-color c_white
    transition left .4s ease-in

    @media (max-width: xs)
        left -100%
        top -100px
        transition top .4s ease-in


/* sign-in block *\
\*---------------*/

.nav-external__link--sign-in
    padding-top 67px
    fontHvMedium12_30()
    color c_darkest-font
    background-image url(../images/bg-enter.svg)
    background-repeat no-repeat
    background-size 30px auto
    background-position center center
    background-color c_basic-bg
    text-align center
    text-transform uppercase

    &:hover
    &:focus
        color c_contrast

    &::after
        position absolute
        left -600px
        top 0
        bottom 0
        z-index 30
        width 0
        height 0
        border 10px solid transparent
        border-left 8px solid c_basic-bg
        margin auto
        opacity 0
        transition left .4s ease-in, opacity .4s ease-in
        content ''

    // &:hover::after
    // // &:focus::after
    //     left 100px
    //     opacity 1
    //
    // &:hover ~ .sign-in__popup
    // // &:focus ~ .sign-in__popup
    //     left 100px

    @media (max-width: xs)
        padding-top 48px
        background-position 50% 35%

        &::after
            display none

        // &:hover::after
        // // &:focus::after
        //     left 0
        //
        // &:hover ~ .sign-in__popup
        // // &:focus ~ .sign-in__popup
        //     left 0
        //     top 80px

.sign-in__popup
    position absolute
    z-index 10
    top 0
    bottom 0
    left -600px
    display block
    width 288px
    padding-top 31px
    padding-right 57px
    padding-left 49px
    padding-bottom 30px
    background-color c_dark-transparent-bg
    transition left .4s ease-in
    box-shadow 0 0 30px rgba(0, 0, 0, 0.5)

    &::before
        position absolute
        top 240px
        left 0
        width 0
        height 0
        border 10px solid transparent
        border-left 8px solid c_basic-bg
        margin auto
        opacity 0
        content ''

    // &:hover::before
    // &:focus::before
    &.is-active::before
        opacity 1

    // &:hover
    // &:focus
    &.is-active
        left 100px

    @media (max-width: xs)
        top -320px
        bottom auto
        left: 0;
        right: 0;
        width: 50%;
        min-width 369px
        margin-left: auto;
        margin-right: auto;
        transition left 0s
        transition top .4s ease-in

        &::before
            display none

        // &:hover
        // &:focus
        &.is-active
            left 0
            top 80px

    @media (max-width: xss)
        right auto
        width 100%
        min-width inherit


.sign-in__header
    fontHvLight30_52()
    position relative
    padding-left 36px
    margin-bottom 25px
    color c_contrast

    &::before
        position absolute
        left -9px
        top 13px
        display block
        width 24px
        height 26px
        background-image url(../images/bg-login.svg)
        background-repeat no-repeat
        content ''

/*input[type=text]*/.sign-in__login
/*input[type=password]*/.sign-in__password
    width 100%
    color c_white
    border 1px solid c_medium-border
    background-color transparent

    &.is-invalid
    &:invalid
        border-color red

.sign-in__login
    margin-bottom 12px

.sign-in__password
    margin-bottom 4px

.sign-in__label
    color c_medium-font

/*a*/.sign-in__forgot-password
    fontHvLight13_30()
    color c_white
    text-decoration underline
    transition color .4s

    &:hover
    &:focus
        color c_contrast

.sign-in__popup button[type=submit]
    margin-top 10px
    margin-bottom 57px
    display block


/* about block *\
\*-------------*/

.nav-external__link--about
    padding-top 67px
    background-image url(../images/bg-about-us.svg)
    background-repeat no-repeat
    background-size 32px 32px
    background-position center center
    background-color c_basic-bg
    fontHvMedium12_30()
    color c_darkest-font
    text-align center
    text-transform uppercase

    @media (max-width: xs)
        padding-top 48px
        background-position 50% 35%

    &:hover
    &:focus
        color c_contrast

.nav-external__link--xml-test
    padding-top 67px
    background-image url(../images/bg-xml.png)
    background-repeat no-repeat
    background-size 32px auto
    background-position center center
    background-color c_basic-bg
    fontHvMedium12_30()
    color c_darkest-font
    text-align center
    text-transform uppercase

    @media (max-width: xs)
        padding-top 48px
        background-position 50% 35%

    &:hover
    &:focus
        color c_contrast


// /**--------------------------------*\
//  * .external-page__additional-info
//  **
// \*--------------------------------*/
// .external-page__additional-info
//     // position absolute
//     // z-index 20
//     // right 0
//     // top 0
//     // bottom 0
//     position relative
//     z-index 20
//     width 284px
//     min-width 284px
//     color c_white
//     background-color c_darken-bg
//     box-shadow bxsh-default
//
//     @media (max-width: xs)
//         width 100%
//
// .info-additional__header
//     min-height 327px
//     padding-top 196px
//     padding-left 34px
//     padding-right 33px
//     fontHvMedium18_24()
//     color c_white
//     background-color c_darken-bg
//     background-image url(../images/bg-info.png)
//     background-repeat no-repeat
//     background-position center 68px
//     background-size 105px 105px
//     text-align center
//
// .info-additional__promo-banner
//     position relative
//     min-height 100px
//     padding-top 18px
//     padding-right 54px
//     padding-left 54px
//     fontHvRoman14_20()
//     color c_white
//     background-color c_contrast
//     text-align center
//
//     @media (max-width: xs) and (min-width: xss)
//         padding-top 37px
//
//     &::before
//         position absolute
//         top 15px
//         left 23px
//         display block
//         fontHvThin60()
//         color c_white-transparent-03
//         content '{'
//
//     &::after
//         position absolute
//         top 15px
//         right 23px
//         display block
//         fontHvThin60()
//         color c_white-transparent-03
//         content '}'
//
// /*ul*/.info-additional__for-clients
//     margin 0
//     padding 0
//     list-style-type none
//     background-color c_darker-2-bg
//
// /*li*/.for-clients__item
//     position relative
//
// /*a*/.for-clients__link
//     position relative
//     z-index 20
//     display block
//     padding-top 14px
//     padding-bottom 14px
//     padding-left 58px
//     fontHvLight16_24()
//     color c_promo-dull
//     background-color c_darker-2-bg
//     box-shadow inset 0 2px 5px rgba(0, 0, 0, .28)
//     transition background-color .4s, color .4s
//
//     &:hover
//     &:focus
//         color c_white
//         background-color c_promo-dark
//         text-decoration none
//
//     &:active
//         color c_white-darken
//         background-color c_promo-dark
//         text-decoration none
//
//     &:hover + .for-clients__tooltip
//         right 300px
//         opacity 1
//
//         @media (max-width: xs)
//             top -45px
//             right 0
//             z-index 30
//
// .for-clients__tooltip
//     position absolute
//     right -400px
//     top 0
//     min-height 52px
//     min-width 275px
//     padding-top 9px
//     padding-right 20px
//     padding-bottom 9px
//     padding-left 20px
//     border-radius 3px
//     fontHvRoman14_16()
//     color c_white
//     background-color c_contrast-transparent
//     box-shadow 0 0 5px rgba(0, 0, 0, .75)
//     transition right .4s, opacity .4s
//     opacity 0
//
//     &::after
//         position absolute
//         right -18px
//         top 0
//         bottom 0
//         margin auto
//         width 0
//         height 0
//         border 10px solid transparent
//         border-left 8px solid c_contrast-transparent
//         content ''
//
//         @media (max-width: xs)
//             display none
