@import './helpers/_variables'
@import './helpers/_mixins'
@import './helpers/_block_mixins'


.hotels-content__header--primary
    padding-left default_padding
    padding-right default_padding
    background-color #451c0d
    background-image url(../images/bg-hotels-header-1.jpg)

.hotels-content__header--secondary
    padding-top 67px
    padding-bottom 65px
    background-color #934825
    background-image url(../images/bg-hotels-header-2.jpg)
    background-position center

    $scalable_props = {
        min-height: 249px
        padding-top: 67px
        padding-bottom: 65px
    }
    scalabilityMixin($scalable_props)


.presentation-content__title--main
    $header_title_main_fz_mod = 60 / $base_fz
    .hotels-content__header--primary &
        fontHvBold60_auto()
        margin-top 0
        margin-bottom -5px
        scalabilityMixin({ margin-bottom: -5px }, 60, fontHvBold60_auto)

        @media (max-width md)
            font-size 45px
            scalabilityMixin({ font-size: 45px})
            scalabilityMixin({ margin-bottom: -5px }, 45)

    $header_title_main_fz_mod = 55 / $base_fz
    .hotels-content__header--secondary &
        fontHvBold55_auto()
        margin-top 0
        margin-bottom -5px
        scalabilityMixin({ margin-bottom: -5px }, 55, fontHvBold55_auto)

        @media (max-width md)
            font-size 35px
            scalabilityMixin({ margin-bottom: -5px }, 35)

.presentation-content__title--secondary
    $header_title_secondary_fz_mod = 36 / $base_fz
    .hotels-content__header--primary &
        fontHvRoman36_44()
        font-weight 600  // fix - need to add it to fontHvRoman36_44 if no more used
        margin-top 0
        margin-bottom 0

        $scalable_props = { font-weight: 600 }  // fix - need to add it to fontHvRoman36_44 if no more used
        scalabilityMixin($scalable_props, 55, fontHvRoman36_44)

        @media (max-width md)
            font-size 26px

    $header_title_secondary_fz_mod = 44 / $base_fz
    .hotels-content__header--secondary &
        fontHvBold44_auto()
        margin-top 0
        margin-bottom 0
        scalabilityMixin(false, 10, fontHvBold44_auto)

        @media (max-width md)
            font-size 30px


.feature-item--mini-site::before
    background-image url(../images/i-arrow-up-stroked-colored.png)

.feature-item--hotel-page-link::before
    background-image url(../images/i-chain-link-diagonal-colored.png)

.feature-item--international::before
    background-image url(../images/i-language-bubbles-colored.png)


.media-block__content--with-wallpaper
    .hotels-content__hotel-public-page &
        background-color #f12c6f
        background-image url(../images/bg-hotel-public-page-media-block-content.jpg)


.default-section__content-inner
    .hotels-content__hotel-public-page &
        background-position 8px -93px
        background-size contain
        background-image url(../images/bg-public-page-content-inner.jpg)


.default-section__header
    .hotels-content__hotel-questionnare &
        padding-left default_padding
        padding-right default_padding
        padding-bottom 39px
        scalabilityMixin({ padding-bottom: 39px })

        @media (max-width bp_medium-x-padding)
            padding-left reduced_padding_2
            padding-right reduced_padding_2

        @media (max-width bp_reduced-x-padding)
            padding-left low_padding
            padding-right low_padding

        @media (max-width bp_low-x-padding)
            padding-left small_padding
            padding-right small_padding

        @media (max-width lg)
            padding-left small_padding
            padding-right small_padding

.default-section__title
    .hotels-content__aircompanies-questionnare &
        margin-bottom 2px
        scalabilityMixin({ margin-bottom: 2px })

.default-section__title-alternate
    .hotels-content__hotel-public-page &
        margin-bottom 70px
        scalabilityMixin({ margin-bottom: 70px }, 37)


.stage-list
    .hotels-content__hotel-public-page &
        margin-bottom 100px
        scalabilityMixin({ margin-bottom: 100px })


.cards-list--condensed
    .hotels-content__hotel-public-page &
        margin-bottom 54px
        padding-left medium_padding
        padding-right medium_padding

        $scalable_props = {
            margin-bottom: 54px
            padding-left: medium_padding
            padding-right: medium_padding
        }
        scalabilityMixin($scalable_props)

        @media (max-width bp_medium-x-padding)
            padding-left reduced_padding_2
            padding-right reduced_padding_2

            $scalable_props = {
                padding-left: reduced_padding_2
                padding-right: reduced_padding_2
            }
            scalabilityMixin($scalable_props)

        @media (max-width bp_reduced-x-padding)
            padding-left lower_padding
            padding-right lower_padding

            $scalable_props = {
                padding-left: lower_padding
                padding-right: lower_padding
            }
            scalabilityMixin($scalable_props)

        @media (max-width bp_smallest-x-padding)
            padding-left small_padding
            padding-right small_padding

            $scalable_props = {
                padding-left: small_padding
                padding-right: small_padding
            }
            scalabilityMixin($scalable_props)


.hotels-content__hotel-questionnare
    padding-top 58px
    padding-bottom 28px
    background-color #fff

    $scalable_props = {
        padding-top: 58px
        padding-bottom: 28px
    }
    scalabilityMixin($scalable_props)


.default-section__title
    .hotels-content__hotel-questionnare &
        margin-bottom 2px
        scalabilityMixin({ margin-bottom: 2px })


.hotels-content__hotel-news/*.media-block*/
    > .media-block__header
        min-height 168px
        padding-top 41px
        background-color #fff6d9
        background-repeat no-repeat
        background-image url(../images/bg-hotel-news-media-block-header.jpg)
        background-size cover
        background-position 50% 100%

        $scalable_props = {
            min-height: 168px
            padding-top: 41px
        }
        scalabilityMixin($scalable_props)


.hotels-content__publications-collection
    background-image url(../images/bg-hotels-publications-banner.jpg)
