@import './helpers/_variables'
@import './helpers/_mixins'
@import './helpers/_block_mixins'


.tourism-boards-content__header--primary
    padding-left medium_padding
    padding-right medium_padding
    background-color #451c0d
    background-image url(../images/bg-tourism-boards-header.jpg)

    $scalable_props = {
        padding-left: medium_padding
        padding-right: medium_padding
    }
    scalabilityMixin($scalable_props)


.tourism-boards-content__header--secondary
    background-color #857b88
    background-image url(../images/bg-tourism-boards-header-2.jpg)
    background-position bottom center


.presentation-content__title--main
    $header_title_main_fz_mod = 50 / $base_fz
    .tourism-boards-content__header--primary &
        fontHvBold50_auto()
        margin-top 0
        margin-bottom -5px
        scalabilityMixin({ margin-bottom: -5px}, 50, fontHvBold50_auto)

        @media (max-width md)
            font-size 35px
            scalabilityMixin({ margin-bottom: -5px}, 35)

    $header_title_main_fz_mod = 55 / $base_fz
    .tourism-boards-content__header--secondary &
        fontHvBold55_auto()
        margin-top 0
        margin-bottom -5px
        scalabilityMixin({ margin-bottom: -5px }, 55, fontHvBold55_auto)

        @media (max-width md)
            font-size 35px
            scalabilityMixin({ margin-bottom: -5px }, 35)


.presentation-content__title--secondary
    $header_title_secondary_fz_mod = 36 / $base_fz
    .tourism-boards-content__header--primary &
        fontHvBold42_44()
        margin-top 0
        margin-bottom 0
        scalabilityMixin(false, 10, fontHvBold42_44)

        @media (max-width md)
            font-size 28px

    $header_title_secondary_fz_mod = 44 / $base_fz
    .tourism-boards-content__header--secondary &
        fontHvBold44_auto()
        margin-top 0
        margin-bottom 0
        scalabilityMixin(false, 10, fontHvBold44_auto)

        @media (max-width md)
            font-size 30px


.presentation-content__mission
    padding-bottom 55px
    scalabilityMixin({ padding-bottom: 55px }, 18)


.tourism-boards-content__company-news
    > .media-block__header
        min-height 168px
        padding-top 41px
        background-color #fff6d9
        background-repeat no-repeat
        background-image url(../images/bg-tourism-boards-news.jpg)
        background-size cover
        background-position 50% 100%

        $scalable_props = {
            min-height: 168px
            padding-top: 41px
        }
        scalabilityMixin($scalable_props)


.tourism-boards-content__publications-collection
    background-image url(../images/bg-tourism-boards-publications-collection.jpg)


.default-section__header
    .tourism-boards-content__search-and-promo-tools &
        padding-top 48px
        scalabilityMixin({ padding-top: 48px })


.tourism-boards-content__company-profile
    padding-top 64px
    scalabilityMixin({ padding-top: 64px })


.media-block__header
    .tourism-boards-content__search-and-promo-tools &
        min-height 320px
        background-color #e1baac
        background-repeat no-repeat
        background-image url(../images/bg-tourism-boards-promo-tools.jpg)
        background-size cover
        background-position center
        scalabilityMixin({ min-height: 320px })

    .presentation-content__company-profile &
        background-image url(../images/bg-tourism-boards-profile.jpg)


.tourism-boards-content__news-categories/*.custom-banner--v1*/
    background-color #021e3b
    background-repeat no-repeat
    background-image url(../images/bg-tourism-boards-news-categories.jpg)
    background-size cover
    background-position center


.feature-item--translates::before
    background-image url(../images/i-translate-bubbles.png)


.publications-feature--share
    background-color c_seo-2

    @media (max-width: md)
        padding-right 60px

    &::before
        left 768px
        top 95px
        width 517px
        height 267px
        background-image url(../images/bg-publications-share-materials.png)

        @media (min-width: 1457px)
            left auto
            right 0

.publications-feature--mini-reviews
    align-items flex-end
    padding-top 63px
    padding-left 120px
    background-color #ef1054

    @media (max-width: md)
        padding-right 60px

    &::before
        right 875px
        bottom 39px
        width 405px
        height 213px
        background-image url(../images/bg-publications-reviews.png)

        @media (max-width: 1106px)
            right auto
            left -314px

        @media (max-width: bp_publications_lower)
            right 100%
            left auto

.publications-feature--settings-control
    background-color #ffc498

    @media (max-width: md)
        padding-right 60px

    &::before
        left 658px
        top 94px
        width 682px
        height 291px
        background-image url(../images/bg-publications-settings.png)

        @media (min-width: 1457px)
            left auto
            right 0

.publications-feature--availability
    align-items flex-end
    background-color #002c3d

    @media (max-width: 811px)
        padding-right 60px

    &::before
        right 620px
        top 68px
        width 664px
        height 353px
        background-image url(../images/bg-publications-availability.png)

        @media (max-width: 811px)
            right auto
            left -589px

        @media (max-width: bp_publications_lower)
            right 100%
            left auto

.publications-feature--auto-posting
    background-color #daf4f8

    @media (max-width: md)
        padding-right 60px

    &::before
        left 641px
        top 62px
        width 603px
        height 298px
        background-image url(../images/bg-publications-auto-posting.png)

.publications-feature--distribution
    align-items flex-end
    background-color #00bc9b

    @media (max-width: 906px)
        padding-right 60px

    &::before
        right 758px
        top 56px
        width 401px
        height 365px
        background-image url(../images/bg-publications-distribution.png)

        @media (max-width: 906px)
            right auto
            left -371px

        @media (max-width: bp_publications_lower)
            right 100%
            left auto


.publications-feature__header
    .publications-feature--share &
        color c_white

    .publications-feature--mini-reviews &
        padding-right 305px
        color c_white

        @media (max-width: 1381px)
            align-self flex-start
            padding-right 0

    .publications-feature--settings-control &
        color #5c4e40

    .publications-feature--availability &
        padding-right 89px
        color #db3d71

        @media (max-width: 811px)
            align-self flex-start
            padding-right 0

    .publications-feature--auto-posting &
        color #0e303f

    .publications-feature--distribution &
        max-width 570px
        color #385c44

        @media (max-width: 906px)
            align-self flex-start

    .publications-feature--share &::before
        background-color #199090

    .publications-feature--share &::after
        background-color #40bebe

    .publications-feature--mini-reviews &::before
        background-color #ab0c3d

    .publications-feature--mini-reviews &::after
        background-color #de0e4e

    .publications-feature--settings-control &::before
        background-color #614d3d

    .publications-feature--settings-control &::after
        background-color #d9a782

    .publications-feature--availability &::before
        background-color #ef1054

    .publications-feature--availability &::after
        background-color #422643

    .publications-feature--auto-posting &::before
        background-color #0096a6

    .publications-feature--auto-posting &::after
        background-color #94e4eb

    .publications-feature--distribution &::before
        background-color #155c41

    .publications-feature--distribution &::after
        background-color #00a585


.publications-feature__title
    .publications-feature--mini-reviews &
        max-width 552px

    .publications-feature--availability &
        max-width calc(468px - 89px)


.publications-feature__content
    .publications-feature--share &
        max-width 548px
        color #273f3f

    .publications-feature--mini-reviews &
        z-index 20
        max-width 763px
        padding-right 137px
        color c_white

        @media (max-width: 1106px)
            align-self flex-start
            padding-right 0
            max-width 626px

    .publications-feature--settings-control &
        max-width 490px
        padding-left 0
        color #0e303f

    .publications-feature--availability &
        max-width 468px
        color #688490

        @media (max-width: 811px)
            align-self flex-start

    .publications-feature--auto-posting &
        max-width 559px
        color #0e303f

    .publications-feature--distribution &
        max-width 566px
        padding-right 114px
        color #273b2e

        @media (max-width: 906px)
            align-self flex-start
            padding-right 0
