@import 'helpers/_variables'
@import 'helpers/_mixins'
@import 'helpers/_block_mixins'

.popup
    position relative
    display inline-block
    background-color darkseagreen
    color white
    min-height 30px

.popup--hidden
    display none

.popup__inner
    font-size 20px
    color black

.popup__close
    position absolute
    top 10px
    right 10px
    width 10px
    height 10px
    font-size 0
    background-color green
