extends ../../base/base-1/base-1

block append links
    link(href='./css/sub_css.min.css' rel='stylesheet')
    link(href='./css/sub_style.min.css' rel='stylesheet')

block append scripts
    script(src='./js/sub_js.min.js')

block append content
    hr
    .AHAHAH.sub-1-class Hello from sub template!!!!!! BIATCH!
    hr
