extends ../../layouts/sub/sub-2/sub-2

block head
    - var pageName = 'enter';
    - var pageTitle = 'Enter page template';


block append links
    //- link(href='./css/page_css.css' rel='stylesheet')
    link(href='./css/page_style.css' rel='stylesheet')


block append scripts
    script(src='./js/page_js.js')


block append content
    article.enter-content__hotels.hotels-enter
        header.hotels-enter__header.flex.flex-main-between
            .l-left
                h1.hotels-enter__for-hotels.for-hotels
                    | Отелям 
                    span.for-hotels__info
                        span.for-hotels__hotels-count 3452 
                        | отеля уже с нами
                h1.hotels-enter__for-representatives Представитель<wbr>ствам
            .l-right.flex-item-cross-end
                a#hotels-enter__know-more.btn.btn--v7 Узнать больше
        section.hotels-enter__content
            ul.hotels-enter__features.features-list.flex.flex-wrap.flex-main-start
                li.features-list__item.features-list__item--marked.features-list__item--stretchy
                    h2
                        | Бесплатный
                        | Международный
                        | Туристический
                        | Справочник 
                    span для отелей и операторов
                li.features-list__item.features-list__item--stretchy.features-list__item--tourist-services
                    h2
                        | Сервисы туристам
                        | <span class='smaller-title'>Отельное приложение для гостей</span>
                li.features-list__item.features-list__item--stretchy.features-list__item--hotel-page
                    h2 Страница отеля на базе опросников
                li.features-list__item.features-list__item--stretchy.features-list__item--online-booking
                    h2 Модуль онлайн бронирования                    
                li.features-list__item.features-list__item--stretchy.features-list__item--prices-spo
                    h2
                        | Прайсы. Спо.
                        | Хранение данных
                li.features-list__item.features-list__item--stretchy.features-list__item--news
                    h2 Новостные публикации с охватом аудитории
                li.features-list__item.features-list__item--stretchy.features-list__item-company-profile
                    h2 Профайл компании/ представительства отелей
                li.features-list__item.features-list__item--stretchy.features-list__item--hotel-replies
                    h2 Отзывы по отелю от профессионалов
                li.features-list__item.features-list__item--stretchy.features-list__item--events-calendar
                    h2 
                        | Календарь квот мест. Мероприятия и события.
                        | Вебинары

    article.enter-content__agents.enter-content--movable.agents-enter
        header.agents-enter__header.flex.flex-main-between
            .l-left
                h1.agents-enter__for-agents.for-agents
                    | Агентам 
                    span.for-agents__info
                        span.for-agents__agents-count 1345 
                        | агента уже с нами 
                h1.agents-enter__for-operators Туропера<wbr>торам
            .l-right.flex-item-cross-end          
                a#agents-enter__know-more.btn.btn--v7 Узнать больше
        section.agents-enter__content
            ul.agents-enter__features.features-list.flex.flex-wrap.flex-main-start
                li.features-list__item.features-list__item--marked.features-list__item--stretchy
                    h2
                        | Бесплатный
                        | Международный
                        | Туристический
                        | Справочник
                    span для отелей и операторов
                li.features-list__item.features-list__item--stretchy.features-list__item--share-services
                    h2 Выгрузка сервисов для партнёров и путешественников
                li.features-list__item.features-list__item--stretchy.features-list__item--tours-excursions
                    h2
                        | Туры. Экскурсии.
                        | Динамические пакеты
                li.features-list__item.features-list__item--stretchy.features-list__item--online-booking
                    h2 Модуль онлайн бронирования                    
                li.features-list__item.features-list__item--stretchy.features-list__item--prices-spo
                    h2
                        | Прайсы. Спо.
                        | Хранение данных
                li.features-list__item.features-list__item--stretchy.features-list__item--statistics-fincenters
                    h2
                        | Статистика по менеджерам и странам.
                        | Финцентры
                li.features-list__item.features-list__item--stretchy.features-list__item--news
                    h2 Новостные публикации с охватом аудитории
                li.features-list__item.features-list__item--stretchy.features-list__item-company-profile
                    h2 Профайл компании
                li.features-list__item.features-list__item--stretchy.features-list__item--events-calendar
                    h2   
                        | Календарь квот мест. Мероприятия и события.
                        | Вебинары


block right_side
    aside#scrollable-panel--fixed.enter-page__additional-info.info-additional
        h2.info-additional__header
            | Публикация ваших новостей
            | для турагентов и
            | путешественников по всему
            | миру
        .info-additional__promo-banner
            | Эффективный инструмент
            | для вашего продвижения
            | с охватом аудитории!
        ul.info-additional__for-clients.for-clients
            li.for-clients__item
                a.for-clients__link(href='#') Авиакомпаниям
                .for-clients__tooltip Авиакомпаниям
            li.for-clients__item
                a.for-clients__link(href='#') Бюро по туризму
                .for-clients__tooltip Офисам, департаментам и бюро по туризму
            li.for-clients__item
                a.for-clients__link(href='#') Объектам культуры
                .for-clients__tooltip Объектам культуры
            li.for-clients__item
                a.for-clients__link(href='#') Медицинскому туризму
                .for-clients__tooltip Медицинскому туризму
            li.for-clients__item
                a.for-clients__link(href='#') Сервисным компаниям
                .for-clients__tooltip Сервисным компаниям
  
