@import '_variables';


/** Font awesome font props placeholder */
$$font-awesome
    font-style normal
    font-variant-ligatures normal
    font-variant-caps normal
    font-variant-numeric normal
    font-weight normal
    font-stretch normal
    font-size inherit
    line-height 1
    font-family FontAwesome
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

$fa_pencil = '\f040'

$fa_arrow-top = '\f148'

$fa_globe = '\f0ac'

$fa_text-file = '\f15c'

$fa_money = '\f0d6'

$fa_newspaper = '\f1ea'

$fa_facebook = '\f09a'

$fa_linkedin = '\f0e1'

$fa_youtube = '\f16a'

$fa_instagram = '\f16d'


/** Icomoon font props placeholder */
$$icomoon
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

$im_arrow = '\e615'

$im_plane = '\e60a'


/** Icomoon-additional font props placeholder */
$$icomoon-additional
    font-family 'icomoon_additional'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

$ima_gear = '\e600'

$ima_plane = '\e601'

$ima_travel-list = '\e602'

$ima_heart = '\e603'

$ima_helicopter = '\e604'

$ima_masks = '\e605'

$ima_message = '\e606'

$ima_island = '\e607'
