// standard container padding


// border-radius value


// colors
$c_white = #fff
$c_white-transparent-05 = rgba(255, 255, 255, 0.5)
$c_white-darken = darken($c_white, 20%)
$c_black = #000
$c_dark = #06070e
$c_dark-2 = #353636


$c_contrast = #ef0f54
$c_contrast-darken = darken($c_contrast, 20%)
$c_contrast-transparent = rgba($c_contrast, 0.9)

$c_seo-2 = #4acdcd
$c_seo-4 = darken($c_seo-2, 10%)


// border colors

$bxsh-default = 0 0 30px rgba(0, 0, 0, 0.5)


// gutters, paddings
$gutter-std = 16px
$pd-std = 16px


// breakpoints
$xss = 479px
$xs = 767px
$xs_plus_1 = 768px
$sm = 867px
$md = 991px
$lg = 1023px
$xl = 1199px

$xs-y = 700px // need for rimma fix
